<div ng-controller="CidListagemController">
	<div class="container" id="container">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="clearfix">
					<span class="sisape-titulo-panel">CID</span>
					<a class="sisape-link-panel" href="#/cid/novo">Novo</a>
				</div>
			</div>
			<div class="panel-body">
				<table class="table table-striped table-hover table-bordered table-responsive">
					<thead>
						<tr>
							<th ng-click="sortBy('i_cid')" class="text-center sisape-order-list">#
								<span class="sisape-sortorder" ng-show="propertyName === 'i_cid'" ng-class="{reverse: reverse}"></span>
							</th>
							<th ng-click="sortBy('codigoCid')" class="sisape-order-list">Código
								<span class="sisape-sortorder" ng-show="propertyName === 'codigoCid'" ng-class="{reverse: reverse}"></span>
							</th>
							<th ng-click="sortBy('descricao')" class="sisape-order-list">Descrição
								<span class="sisape-sortorder" ng-show="propertyName === 'descricao'" ng-class="{reverse: reverse}"></span>
							</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in itens | orderBy:propertyName:reverse">
							<td ng-bind="item.i_cid" class="text-center col-md-1 col-sm-1"></td>
							<td ng-bind="item.codigoCid"></td>
							<td ng-bind="item.descricao"></td>
							<td class="text-center col-md-1 col-sm-1">
								<a href="#/cid/{{item.i_cid}}/editar" class="btn btn-link btn-xs" rel="tooltip" data-placement="top" title="Visualizar CID" tooltip>
									<span class="glyphicon glyphicon-search" ></span>
								</a>
							</td>
						</tr>
						<tr id="tableVazia">
							<td class="text-center" colspan="4s" ng-show="listaVazia">Sem dados para mostrar!</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>