<!DOCTYPE html>
<html ng-app="app" lang="pt">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>

		<title>SISAPE</title>

		<link rel="stylesheet" type="text/css" href="assets/stylesheets/vendors.min.css"/>
		<link rel="stylesheet" type="text/css" href="assets/stylesheets/algaworks.min.css"/>
		<link rel="stylesheet" type="text/css" href="assets/stylesheets/application.css"/>
		<link rel="stylesheet" type="text/css" href="assets/stylesheets/docs.css"/>
	</head>
	<body>
		<div class="aw-layout-loading  js-loading-overlay">
			<div class="aw-layout-loading__container">
				<span class="aw-balls-spinner">Carregando...</span>
			</div>
		</div>

		<div class="aw-layout-page" ng-controller="MenuController">
			<div id="removeOnLogin">
				<nav class="navbar  navbar-fixed-top  navbar-default  js-sticky-reference" id="main-navbar" ng-hide="urlLogin">
					<div class="container-fluid" >

						<div class="navbar-header">
							<a class="navbar-brand  hidden-xs" href="#/inicio">
								<img alt="AlgaWorks" src="assets/images/logo.png"/>
							</a>

							<ul class="nav  navbar-nav">
								<li>
									<a href class="js-sidebar-toggle"><i class="fa  fa-bars"></i></a>
								</li>
							</ul>
						</div>

						<ul class="nav navbar-nav  navbar-right">
							<!--					
							<li>
								<a href class="js-search-modal-trigger-show"><i class="fa  fa-search"></i></a>
							</li>
							-->
							
							<!--<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href aria-expanded="false">
									<i class="fa  fa-envelope"></i> <span class="label  label-danger  aw-label-corner">48</span>
								</a>
													
								<ul class="dropdown-menu">
									<li><a href="javascript:;">Item 1</a></li>
									<li><a href="javascript:;">Item 2</a></li>
								</ul>
							</li>-->
							
							<li class="dropdown">
								<a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
									<i class="fa  fa-user"></i>
								</a>
								
								<ul class="dropdown-menu">
									<li>
										<div class="aw-logged-user">
											<i class="fa fa-user dashboard-div-icon2 aw-logged-user__picture"></i>
											<!--<img src="https://api.adorable.io/avatars/80/joaodascouves" width="80" height="80" alt="João das Couves" class="aw-logged-user__picture" />-->
											<span class="aw-logged-user__name" ng-bind="userLoggedIn.nomeUsuario"></span>
										</div>
									</li>
									<li role="separator" class="divider"></li>
									<li><a href="{{meusDadosUrl}}">Meu dados</a></li>
									<!--<li><a href>Alterar senha</a></li>-->
									<li role="separator" class="divider"></li>
									<li><a ng-click="logout()" style="cursor: pointer;">Sair</a></li>
								</ul>
							</li>
						</ul>

					</div>
				</nav>

				<aside class="aw-layout-sidebar  js-sidebar" ng-hide="urlLogin">

					<div class="aw-layout-sidebar__content">
						<form role="search" style="margin: 10px;">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Pesquisar" ng-model="pesquisaMenu.descricao" >
							</div>
						</form>

						<hr>

						<nav class="aw-menu  js-menu">
							<ul class="aw-menu__list">
							
								<li class="aw-menu__item">
									<a href="#/inicio"><i class="fa fa-fw fa-home"></i><span>Início</span></a>
								</li>

								<li class="aw-menu__item" ng-class="{ 'is-expanded' : pesquisaMenu && !pesquisaMenu.$pristine }">
									<a href>
										<i class="fa  fa-fw  fa-file-text"></i><span>Processos</span>
										<i class="aw-menu__navigation-icon  fa"></i>
									</a>
							
									<ul class="aw-menu__list  aw-menu__list--sublist">
										<li ng-repeat="menu in listaMenuProcessos | filter: pesquisaMenu" ng-show="inArray(userLoggedIn.tipoUsuario, menu.tipoUsuario)" class="aw-menu__item  aw-menu__item--link  is-expanded">
											<a href="{{menu.url}}">
												<i class="fa fa-wpforms" aria-hidden="true"></i>
												{{menu.descricao}}
											</a>
										</li>
									</ul>
								</li>
								
								<li class="aw-menu__item" ng-class="{ 'is-expanded' : pesquisaMenu && !pesquisaMenu.$pristine }" ng-hide="userLoggedIn.tipoUsuario == 'C'">
									<a href>
										<i class="fa  fa-fw  fa-file-text"></i><span>Cadastros</span>
										<i class="aw-menu__navigation-icon  fa"></i>
									</a>
							
									<ul class="aw-menu__list  aw-menu__list--sublist">
										<li ng-repeat="menu in listaMenuCadastros | filter: pesquisaMenu" ng-show="inArray(userLoggedIn.tipoUsuario, menu.tipoUsuario)" class="aw-menu__item  aw-menu__item--link  is-expanded">
											<a href="{{menu.url}}">
												<i class="fa fa-wpforms" aria-hidden="true"></i>
												{{menu.descricao}}
											</a>
										</li>
									</ul>
								</li>

								<!--<li class="aw-menu__item  is-expanded">
									<a href>
										<i class="fa  fa-fw  fa-file-text"></i><span>Páginas comuns</span>
										<i class="aw-menu__navigation-icon  fa"></i>
									</a>

									<ul class="aw-menu__list  aw-menu__list--sublist">
										<li class="aw-menu__item  aw-menu__item--link"><a href="pagina-vazia.html">Página vazia</a></li>
										<li class="aw-menu__item  aw-menu__item--link"><a href="login.html">Login</a></li>
										<li class="aw-menu__item  aw-menu__item--link"><a href="esqueceu-a-senha.html">Esqueceu a senha</a></li>
										<li class="aw-menu__item  aw-menu__item--link"><a href="403.html">403</a></li>
										<li class="aw-menu__item  aw-menu__item--link"><a href="404.html">404</a></li>
										<li class="aw-menu__item  aw-menu__item--link"><a href="500.html">500</a></li>
									</ul>
								</li>-->

							</ul>
						</nav>

					</div>
				</aside>
			</div>

			<section ng-class="{ 'aw-layout-content js-content': !urlLogin }">
				<div ng-view></div>
			</section>
		
			<footer ng-class="{ 'aw-layout-footer js-content': !urlLogin }">
				<div class="container-fluid">
					<span class="aw-footer-disclaimer">&copy; 2016 SISAPE. Todos os direitos reservados.</span>
				</div>
			</footer>
		</div>

		<div class="aw-search-modal  js-search-modal">
			<form action="#" class="aw-search-modal__form">
				<input class="aw-search-modal__input  js-search-modal-input" type="text" placeholder="O que você está procurando?"/>
				<div class="aw-search-modal__input-icon">
					<i class="glyphicon  glyphicon-search  js-search-modal-go"></i>
				</div>
			</form>
			
			<div class="aw-search-modal__controls">
				<i class="glyphicon glyphicon-remove  js-search-modal-close"></i>
			</div>
		</div>

		<script src="assets/javascripts/vendors.min.js"></script>
		<script src="assets/javascripts/algaworks.min.js"></script>

		<script src="assets/javascripts/angular.min.js"></script>
		<script src="assets/javascripts/angular-cookies.min.js"></script>
		<script src="assets/javascripts/angular-route.min.js"></script>

		<script src="assets/javascripts/md5.min.js"></script>
		<script src="assets/javascripts/cpf.js"></script>
		<script src="assets/javascripts/cnpj.js"></script>
		<script src="assets/javascripts/ngCpfCnpj.js"></script>
		<script src="assets/javascripts/ng-filters-br.min.js"></script>
		<script src="assets/javascripts/ui-bootstrap-tpls-2.0.0.min.js"></script>
		<script src="assets/javascripts/mask.min.js"></script>
		<script src="assets/javascripts/moment-with-locales.min.js"></script>
		
		<script src="assets/app.js"></script>
		<script src="assets/app-config.js"></script>

		<script src="views/cidadao/service.js"></script>
		<script src="views/cidadao/controller.js"></script>

		<script src="views/pais/service.js"></script>
		<script src="views/pais/controller.js"></script>

		<script src="views/estado/service.js"></script>
		<script src="views/estado/controller.js"></script>

		<script src="views/cbo/service.js"></script>
		<script src="views/cbo/controller.js"></script>

		<script src="views/cid/service.js"></script>
		<script src="views/cid/controller.js"></script>

		<script src="views/medicamento/service.js"></script>
		<script src="views/medicamento/controller.js"></script>

		<script src="views/exame/service.js"></script>
		<script src="views/exame/controller.js"></script>

		<script src="views/municipio/service.js"></script>
		<script src="views/municipio/controller.js"></script>

		<script src="views/unidade-basica-saude/service.js"></script>
		<script src="views/unidade-basica-saude/controller.js"></script>
		
		<script src="views/profissional/service.js"></script>
		<script src="views/profissional/controller.js"></script>
		
		<script src="views/profissional-lotacao/service.js"></script>
		<script src="views/profissional-lotacao/controller.js"></script>
		
		<script src="views/profissional-agenda/service.js"></script>
		<script src="views/profissional-agenda/controller.js"></script>

		<script src="views/agendamento/service.js"></script>
		<script src="views/agendamento/controller.js"></script>

		<script src="views/unidade-basica-saude-tipo-estabelecimento/service.js"></script>
		
		<script src="views/tipo-logradouro/service.js"></script>
		
		<script src="views/inicio/controller.js"></script>

		<script src="views/usuario/service.js"></script>
		<script src="views/login/authentication.service.js"></script>
		<script src="views/login/controller.js"></script>

	</body>
</html>