<div ng-controller="PaisController">
	<div class="container" id="container">
		<form class="form-horizontal" name="paisForm" ng-submit="update()">
			<div class="panel panel-default">
				<div class="panel-heading">
					<span ng-bind="title" class="sisape-titulo-panel"></span>
				</div>
				<div class="panel-body">
					<fieldset>
						<!-- Id input-->
						<input type="hidden" id="i_pais" name="i_pais" ng-model="form.i_pais" />

						<!-- Nome input-->
						<div class="form-group" ng-class="{ 'has-error' : paisForm.nome.$invalid && !paisForm.nome.$pristine }">
							<label class="col-sm-1 control-label" for="nome">Nome</label>
							<div class="col-sm-11">
								<input ng-model="form.nome" id="nome" required name="nome" type="text" placeholder="Insira o nome do país aqui" class="form-control" maxlength="100" autofocus>
								<p ng-show="ppaisForm.nome.$error.required && !paisForm.nome.$pristine" class="help-block">Nome é obrigatório.</p>
							</div>
						</div>
						
						<!-- Sigla input-->
						<div class="form-group" ng-class="{ 'has-error' : paisForm.sigla.$invalid && !paisForm.sigla.$pristine }">
							<label class="col-sm-1 control-label" for="sigla">Sigla</label>
							<div class="col-sm-5">
								<input ng-model="form.sigla" id="sigla" required name="sigla" type="text" placeholder="Insira a sigla do país aqui" class="form-control" maxlength="3" autofocus>
								<p ng-show="paisForm.sigla.$error.required && !paisForm.sigla.$pristine" class="help-block">Sigla é obrigatório.</p>
							</div>
						</div>
					</fieldset>
				</div>
				<div class="panel-footer">
					<!-- Form actions -->
					<div class="form-group">
						<div class="pull-right">
							<button type="submit" class="btn btn-success" ng-disabled="paisForm.$invalid">Ok</button>
							<a ng-click="cancelar(paisForm.$dirty)" class="btn btn-warning">Cancelar</a>
							<a ng-click="excluir()" ng-show="editandoCadastro" class="btn btn-danger">Excluir</a>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>