<div ng-controller="UbsListagemController">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-8">
					<h1 ng-bind-template="{{title}}"></h1>
				</div>
				
				<div class="col-xs-4">
					<div class="aw-page-header-controls">
						<a class="btn btn-primary" href="#/ubs/novo">
							<i class="fa fa-plus-circle"></i> <span class="hidden-xs hidden-sm">Nova UBS</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<form class="form-vertical  js-form-loading">
			<div class="form-group">
				<label for="input-nome">Nome</label>
				<input id="input-nome" type="text" class="form-control" ng-model="keyword">
			</div>
			
			<div class="form-group">
				<button class="btn  btn-primary" ng-click="Pesquisar()">Pesquisar</button>
				<button class="btn  btn-default" ng-click="Limpar()">Limpar</button>
			</div>
		</form>
		
		<div class="alert  aw-alert-no-results" role="alert" ng-show="listaVazia">
			A pesquisa não retornou nenhuma unidade básica de saúde
		</div>

		<div class="table-responsive" ng-show="!listaVazia">
			<table id="tabela-produtos" class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
				<thead class="aw-table-header-solid">
					<tr>
						<th class="text-center">#</th>
						<th>Nome</th>
						<th class="text-center">Telefone 1</th>
						<th class="text-center">Telefone 1</th>
						<th>Bairro</th>
						<th>Cidade/UF</th>
						<th>Tipo de Estabelecimento</th>
						<th class="text-center">Status</th>
						<th class="text-center">Ações</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="item in itens">
						<td ng-bind="item.i_unidade_basica_saude" class="text-center col-md-1 col-sm-1 col-xs-1"></td>
						<td ng-bind="item.nome"></td>
						<td ng-bind="item.telefonePrincipal | tel" class="text-center col-md-1 col-sm-1 col-xs-1"></td>
						<td ng-bind="item.telefoneSecundario | tel" class="text-center col-md-1 col-sm-1 col-xs-1"></td>
						<td ng-bind="item.bairro"></td>
						<td ng-bind="item.municipio.nome + '/' + item.municipio.estado.sigla"></td>
						<td ng-bind="item.tipoEstabelecimento.nome"></td>
						<td class="text-center col-md-1 col-sm-1 col-xs-1">
							<span ng-class="item.ativo ? 'label label-success' : 'label label-danger'" ng-bind="item.ativo ? 'Ativo' : 'Inativo'"></span></td>
						</td>
						<td class="table-pesq-produto-col-acoes col-md-1 col-sm-1 col-xs-1">
							<div class="btn-group">
								<a class="btn  btn-default btn-xs" href="#/ubs/{{item.i_unidade_basica_saude}}/editar">Editar</a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
			
		<div class="row">
			<div class="col-xs-12  col-md-4  aw-text-xs-center  aw-text-md-right" style="float: right;">
				<span class="aw-pagination-info" ng-bind-template="{{totalItens}} ubs encontrada" ng-show="!listaVazia"></span>
			</div>
		</div>
	</div>
</div>