<div ng-controller="UbsController">

	<div class="page-header">
		<div class="container-fluid">
			<h1 ng-bind-template="{{title}}"></h1>
		</div>
	</div>

	<div class="container-fluid">
		<form class="form-horizontal form-vertical  js-form-loading" name="ubsForm" ng-submit="update()">
			<!-- Id Input -->
			<input type="hidden" id="i_unidade_basica_saude" name="i_unidade_basica_saude" ng-model="form.i_unidade_basica_saude" />

			<ul class="nav nav-pills">
				<li class="active"><a href ng-click="setTab(1)" ng-class="{'active' : isSet(1)}" data-toggle="tab">Dados</a></li>
				<li><a href ng-click="setTab(2)" ng-class="{'active' : isSet(2)}" data-toggle="tab">Localização</a></li>
				<li><a href ng-click="setTab(3)" ng-class="{'active' : isSet(3)}" data-toggle="tab">Contato</a></li>
				<li><a href ng-click="setTab(4)" ng-class="{'active' : isSet(4)}" data-toggle="tab">Parâmetros</a></li>
			</ul>

			<br>

			<div class="tab-content" ng-show="isSet(1)">
				<div class="tab-pane fade in active">
					<!-- Nome Input -->
					<div class="form-group sisape-required" ng-class="{ 'has-error' : ubsForm.nome.$error.required && !ubsForm.nome.$pristine }">
						<label class="col-sm-2 control-label" for="nome">Nome</label>
						<div class="col-sm-6">
							<input ng-model="form.nome" id="nome" required name="nome" type="text" class="form-control" maxlength="255" autofocus style="text-transform:uppercase">
							<p ng-show="ubsForm.nome.$error.required && !ubsForm.nome.$pristine" class="help-block">Campo obrigatório.</p>
						</div>
						
						<!-- Ativo Check -->
						<div class="col-sm-4">
							<div class="checkbox">
								<input type="checkbox" ng-model="form.ativo" ng-init="form.ativo=true" id="ativo" name="ativo">
								<label for="ativo">Ativo</label>
							</div>
						</div>
					</div>

					<!-- CNPJ Input -->
					<div class="form-group" ng-class="{ 'has-error' : ubsForm.cnpj.$invalid && !ubsForm.cnpj.$pristine }">
						<label class="col-sm-2 control-label" for="cnpj">CNPJ</label>
						<div class="col-sm-3">
							<input ng-model="form.cnpj" id="cnpj" name="cnpj" type="text" ng-cnpj ui-mask="99.999.999/9999-99" class="form-control" maxlength="18">
							<p ng-show="ubsForm.cnpj.$invalid && !ubsForm.cnpj.$pristine" class="help-block">Campo inválido.</p>
						</div>
					</div>

					<!-- Cadastro Nacional de Estabelecimento de Saúde -->
					<div class="form-group sisape-required" ng-class="{ 'has-error' : ubsForm.codigo_cnes.$error.required && !ubsForm.codigo_cnes.$pristine }">
						<label class="col-sm-2 control-label" for="codigo_cnes">CNES</label>
						<div class="col-sm-3">
							<input ng-model="form.codigo_cnes" id="codigo_cnes" name="codigo_cnes" type="number" class="form-control" maxlength="20">
							<p ng-show="ubsForm.codigo_cnes.$error.required && !ubsForm.codigo_cnes.$pristine" class="help-block">Campo obrigatório.</p>
						</div>
					</div>
					
					<!-- Esfera Administrativa -->
					<div class="form-group sisape-required" ng-class="{ 'has-error' : ubsForm.esferaAdministrativa.$error.required && !ubsForm.esferaAdministrativa.$pristine }">					
						<label for="esferaAdministrativa" class="col-sm-2 control-label">Esfera administrativa</label>
						<div class="col-sm-2">
							<select class="form-control" id="esferaAdministrativa" name="esferaAdministrativa" required ng-model="form.esferaAdministrativa">
								<option value="PUBLICO_FEDERAL" selected="selected">Federal</option>
								<option value="PUBLICO_ESTADUAL">Estadual</option>
								<option value="PUBLICO_MUNICIPAL">Municipal</option>
							</select>
							<p ng-show="ubsForm.esferaAdministrativa.$error.required && !ubsForm.esferaAdministrativa.$pristine" class="help-block">Campo obrigatório.</p>
						</div>
					</div>

					<!-- Tipo de Estabelecimento Select-->
					<div class="form-group sisape-required" ng-class="{ 'has-error' : ubsForm.tipoEstabelecimento.$error.required && !ubsForm.tipoEstabelecimento.$pristine }">
						<label for="tipoEstabelecimento" class="col-sm-2 control-label">Tipo unidade</label>
						<div class="col-sm-6">
							<select class="form-control ls-select" id="tipoEstabelecimento" name="select-simples-grande" required ng-options="tipoEstabelecimento.nome for tipoEstabelecimento in tiposEstabelecimento track by tipoEstabelecimento.nome" ng-model="form.tipoEstabelecimento"></select>

							<p ng-show="ubsForm.tipoEstabelecimento.$error.required && !ubsForm.tipoEstabelecimento.$pristine" class="help-block">Selecione um tipo de estabelecimento.</p>
						</div>
					</div>
					
				</div>
			</div>

			<div class="tab-content" ng-show="isSet(2)">
				<div class="tab-pane fade in active">
					<!-- CEP Input -->
					<div class="form-group" ng-class="{ 'has-error' : ubsForm.cep.$invalid && !ubsForm.cep.$pristine }">
						<label class="col-xs-2 col-sm-2 col-md-2 control-label" for="cep">CEP</label>
						<div class="col-sm-4">
							<input ng-model="form.cep" id="cep" name="cep" required type="text" ui-mask="99999-999" class="form-control">
							<p ng-show="ubsForm.cep.$invalid && !ubsForm.cep.$error.required&& !ubsForm.cep.$pristine" class="help-block">Campo inválido.</p>
							<p ng-show="ubsForm.cep.$error.required && !ubsForm.cep.$pristine" class="help-block">Campo obrigatório.</p>
						</div>
					</div>
					
					<!-- Logradouro Select-->
					<div class="form-group" ng-class="{ 'has-error' : ubsForm.logradouro.$error.required && !ubsForm.logradouro.$pristine }">
						<!-- Logradouro Select-->
						<label class="col-xs-2 col-sm-2 col-md-2 control-label" for="logradouro">Logradouro</label>
						<div class="col-sm-10">
							<input ng-model="form.logradouro" id="logradouro" name="logradouro" type="text" class="form-control" maxlength="255">
							<p ng-show="ubsForm.logradouro.$error.required && !ubsForm.logradouro.$pristine" class="help-block">Campo obrigatório.</p>
						</div>
					</div>

					<div class="form-group">
						<label class="col-xs-2 col-sm-2 col-md-2 control-label" for="numero">Número</label>
						<div class="col-sm-4">
							<input ng-disabled="form.semNumero==true" ng-model="form.numero" id="numero" name="numero" type="number" maxlength="12" class="form-control" min="0" max="999999999999">
						</div>

						<!-- Sem Número Check -->
						<div class="col-sm-4">
							<div class="checkbox">
								<input type="checkbox" ng-model="form.semNumero" ng-init="form.semNumero=false" id="semNumero" name="semNumero">
								<label for="semNumero" ng-click="ClickCheckBoxSemNumero()">Sem Número</label>
							</div>
						</div>
					</div>
					
					<!-- Bairro Input -->
					<div class="form-group">
						<label class="col-xs-2 col-sm-2 col-md-2 control-label" for="bairro">Bairro</label>
						<div class="col-sm-10">
							<input ng-model="form.bairro" id="bairro" name="bairro" type="text" class="form-control" maxlength="100"  style="text-transform:uppercase">
						</div>
					</div>
					
					<!-- Complemento Input -->
					<div class="form-group" ng-class="{ 'has-error' : ubsForm.complemento.$error.required && !ubsForm.complemento.$pristine }">
						<label class="col-xs-2 col-sm-2 col-md-2 control-label" for="complemento">Complemento</label>
						<div class="col-sm-10">
							<input ng-model="form.complemento" id="complemento" name="complemento" type="text" class="form-control" maxlength="255">
							<p ng-show="ubsForm.complemento.$error.required && !ubsForm.complemento.$pristine" class="help-block">Campo obrigatório.</p>
						</div>
					</div>

					<!-- Ponto de referência Input -->
					<div class="form-group" ng-class="{ 'has-error' : ubsForm.pontoReferencia.$error.required && !ubsForm.pontoReferencia.$pristine }">
						<label class="col-xs-2 col-sm-2 col-md-2 control-label" for="pontoReferencia">Referência</label>
						<div class="col-sm-10">
							<input ng-model="form.pontoReferencia" id="pontoReferencia" name="pontoReferencia" type="text" class="form-control" maxlength="255">
							<p ng-show="ubsForm.pontoReferencia.$error.required && !ubsForm.pontoReferencia.$pristine" class="help-block">Campo obrigatório.</p>
						</div>
					</div>
					
					<!-- Municípo Select-->
					<div class="form-group">
						<label for="municipio" class="col-xs-2 col-sm-2 col-md-2 control-label">Município</label>
						<div class="col-sm-4">
							<select class="form-control" id="municipio" name="municipio" required ng-options="municipio.nome + '/' + municipio.estado.sigla + '/' + municipio.estado.pais.sigla for municipio in municipios track by municipio.nome" ng-model="form.municipio"></select>
						</div>
					</div>
				</div>
			</div>

			<div class="tab-content" ng-show="isSet(3)">
				<div class="tab-pane fade in active">
					<!-- Tel. 1 Input -->
					<div class="form-group" ng-class="{ 'has-error' : ubsForm.telefonePrincipal.$invalid && !ubsForm.telefonePrincipal.$pristine }">
						<label class="col-xs-2 col-sm-2 col-md-2 control-label" for="telefonePrincipal">Telefone 1</label>
						<div class="col-sm-3">
							<input ng-model="form.telefonePrincipal" id="telefonePrincipal" name="telefonePrincipal" type="text" ui-mask="(99)99999-9999" class="form-control">
							<p ng-show="ubsForm.telefonePrincipal.$invalid && !ubsForm.telefonePrincipal.$pristine" class="help-block">Campo inválido.</p>
						</div>
					</div>

					<!-- Tel. 2 Input -->
					<div class="form-group" ng-class="{ 'has-error' : ubsForm.telefoneSecundario.$invalid && !ubsForm.telefoneSecundario.$pristine }">
						<label class="col-xs-2 col-sm-2 col-md-2 control-label" for="telefoneSecundario">Telefone 2</label>
						<div class="col-sm-3">
							<input ng-model="form.telefoneSecundario" id="telefoneSecundario" name="telefoneSecundario" type="text" ui-mask="(99)99999-9999" class="form-control">
							<p ng-show="ubsForm.telefoneSecundario.$invalid && !ubsForm.telefoneSecundario.$pristine" class="help-block">Campo inválido.</p>
						</div>
					</div>

					<!-- Tel. Fax Input -->
					<div class="form-group" ng-class="{ 'has-error' : ubsForm.telefoneFax.$invalid && !ubsForm.telefoneFax.$pristine }">
						<label class="col-xs-2 col-sm-2 col-md-2 control-label" for="telefoneFax">Telefone Fax</label>
						<div class="col-sm-3">
							<input ng-model="form.telefoneFax" id="telefoneFax" name="telefoneFax" type="text" ui-mask="(99)99999-9999" class="form-control">
							<p ng-show="ubsForm.telefoneFax.$invalid && !ubsForm.telefoneFax.$pristine" class="help-block">Campo inválido.</p>
						</div>
					</div>

					<!-- Email Input -->
					<div class="form-group" ng-class="{ 'has-error' : ubsForm.email.$invalid && !ubsForm.email.$pristine }">
						<label class="col-xs-2 col-sm-2 col-md-2 control-label" for="email">E-mail</label>
						<div class="col-sm-10">
							<input ng-model="form.email" id="email" name="email" type="mail" required class="form-control" maxlength="255">
							<p ng-show="ubsForm.email.$invalid && !ubsForm.email.$error.required && !ubsForm.email.$pristine" class="help-block">Campo inválido.</p>
							<p ng-show="ubsForm.email.$error.required && !ubsForm.email.$pristine" class="help-block">Campo obrigatório.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="tab-content" ng-show="isSet(4)">
				<div class="tab-pane fade in active">
					<ul class="nav nav-pills "><!--nav-stacked-->
						<li class="active"><a href ng-click="setTabParmto(1)" ng-class="{'active' : isSetTabParmto(1)}" data-toggle="tab">Tempo padrão</a></li>
						<li><a href ng-click="setTabParmto(2)" ng-class="{'active' : isSetTabParmto(2)}" data-toggle="tab">Complexidade</a></li>
						<li><a href ng-click="setTabParmto(3)" ng-class="{'active' : isSetTabParmto(3)}" data-toggle="tab">Serviços</a></li>
						<li><a href ng-click="setTabParmto(4)" ng-class="{'active' : isSetTabParmto(4)}" data-toggle="tab">Horários</a></li>
					</ul>
						
					<br>
						
					<!-- Duração Padrão Input -->
					<div class="panel panel-info" ng-show="isSetTabParmto(1)">
						<div class="panel-heading">Tempo padrão de duração para atendimentos</div>
						<div class="panel-body">
							<div class="form-group">
								<label class="col-sm-2 control-label" for="duracaoPadraoAtendimento">Duração da consulta (min)</label>
								<div class="col-sm-2">
									<input ng-model="form.parametroUbs.duracaoPadraoAtendimento" id="duracaoPadraoAtendimento" name="duracaoPadraoAtendimento" type="number" class="form-control" min="0" maxlength="3">
									<p ng-show="ubsForm.duracaoPadraoAtendimento.$invalid && !ubsForm.duracaoPadraoAtendimento.$pristine" class="help-block">Campo inválido.</p>
								</div>
							</div>
						</div>
					</div>
							
					<!--Complexidade-->
					<div class="panel panel-info" ng-show="isSetTabParmto(2)">
						<div class="panel-heading">Complexidade</div><!--<h2>Complexidade</h2>-->
						<div class="panel-body">
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<div class="col-xs-7 col-sm-7 col-md-7">
											<div class="checkbox">
												<input type="checkbox" ng-model="form.parametroUbs.complexidadeAtencaoBasica" ng-init="form.complexidadeAtencaoBasica=true" id="complexidadeAtencaoBasica" name="complexidadeAtencaoBasica">
												<label for="complexidadeAtencaoBasica">Atenção básica</label>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<div class="col-xs-8 col-sm-8 col-md-8">
											<div class="checkbox">
												<input type="checkbox" ng-model="form.parametroUbs.complexidadeMedia" ng-init="form.complexidadeMedia=true" id="complexidadeMedia" name="complexidadeMedia">
												<label for="complexidadeMedia">Complexidade média</label>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">					
										<div class="col-xs-8 col-sm-8 col-md-8">
											<div class="checkbox">
												<input type="checkbox" ng-model="form.parametroUbs.complexidadeAlta" ng-init="form.complexidadeAlta=true" id="complexidadeAlta" name="complexidadeAlta">
												<label for="complexidadeAlta">Complexidade alta</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
							
					<!--Tipo de Serviço-->
					<div class="panel panel-info" ng-show="isSetTabParmto(3)">
						<div class="panel-heading">Tipos de serviços</div><!--<h2>Tipos de serviços</h2>-->
						<div class="panel-body">
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<div class="col-xs-7 col-sm-7 col-md-7">
											<div class="checkbox">
												<input type="checkbox" ng-model="form.parametroUbs.tipoServicoAdm" ng-init="form.tipoServicoAdm=true" id="tipoServicoAdm" name="tipoServicoAdm">
												<label for="tipoServicoAdm">Administrativos</label>
											</div>
										</div>
									</div>
									
									<div class="form-group">
										<div class="col-xs-7 col-sm-7 col-md-7">
											<div class="checkbox">
												<input type="checkbox" ng-model="form.parametroUbs.tipoServicoCurativo" ng-init="form.tipoServicoCurativo=true" id="tipoServicoCurativo" name="tipoServicoCurativo">
												<label for="tipoServicoCurativo">Curativo</label>
											</div>
										</div>
									</div>
									
									<div class="form-group">
										<div class="col-xs-7 col-sm-7 col-md-7">
											<div class="checkbox">
												<input type="checkbox" ng-model="form.parametroUbs.tipoServicoDemanda" ng-init="form.tipoServicoDemanda=true" id="tipoServicoDemanda" name="tipoServicoDemanda">
												<label for="tipoServicoDemanda">Demanda</label>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<div class="col-xs-7 col-sm-7 col-md-7">
											<div class="checkbox">
												<input type="checkbox" ng-model="form.parametroUbs.tipoServicoEscuta" ng-init="form.tipoServicoEscuta=true" id="tipoServicoEscuta" name="tipoServicoEscuta">
												<label for="tipoServicoEscuta">Escuta</label>
											</div>
										</div>
									</div>
									
									<div class="form-group">
										<div class="col-xs-7 col-sm-7 col-md-7">
											<div class="checkbox">
												<input type="checkbox" ng-model="form.parametroUbs.tipoServicoExame" ng-init="form.tipoServicoExame=true" id="tipoServicoExame" name="tipoServicoExame">
												<label for="tipoServicoExame">Exame</label>
											</div>
										</div>
									</div>
									
									<div class="form-group">
										<div class="col-xs-7 col-sm-7 col-md-7">
											<div class="checkbox">
												<input type="checkbox" ng-model="form.parametroUbs.tipoServicoNebulizacao" ng-init="form.tipoServicoNebulizacao=true" id="tipoServicoNebulizacao" name="tipoServicoNebulizacao">
												<label for="tipoServicoNebulizacao">Nebulização</label>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<div class="col-xs-7 col-sm-7 col-md-7">
											<div class="checkbox">
												<input type="checkbox" ng-model="form.parametroUbs.tipoServicoOdontologia" ng-init="form.tipoServicoOdontologia=true" id="tipoServicoOdontologia" name="tipoServicoOdontologia">
												<label for="tipoServicoOdontologia">Odontologia</label>
											</div>
										</div>
									</div>
									
									<div class="form-group">
										<div class="col-xs-7 col-sm-7 col-md-7">
											<div class="checkbox">
												<input type="checkbox" ng-model="form.parametroUbs.tipoServicoProcedimento" ng-init="form.tipoServicoProcedimento=true" id="tipoServicoProcedimento" name="tipoServicoProcedimento">
												<label for="tipoServicoProcedimento">Procedimentos</label>
											</div>
										</div>
									</div>
									
									<div class="form-group">
										<div class="col-xs-7 col-sm-7 col-md-7">
											<div class="checkbox">
												<input type="checkbox" ng-model="form.parametroUbs.tipoServicoVacina" ng-init="form.tipoServicoVacina=true" id="tipoServicoVacina" name="tipoServicoVacina">
												<label for="tipoServicoVacina">Vacina</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
							
					<!--Horarios-->
					<div class="panel panel-info" ng-show="isSetTabParmto(4)">
						<div class="panel-heading">Horários</div><!--<h2>Complexidade</h2>-->
						<div class="panel-body">
							<div class="row">
								<div class="col-md-4">
									<div class="panel panel-info">
										<div class="panel-heading">
											<div class="form-group" style="margin-bottom: 5px">
												<div class="col-xs-7 col-sm-7 col-md-7">
													<div class="checkbox">
														<input type="checkbox" ng-change="setFocusHorario('#horarioMatutinoInicio', '#horarioMatutinoFim')" ng-model="form.parametroUbs.horarioMatutino" ng-init="form.parametroUbs.horarioMatutino=false" id="horarioMatutino" name="horarioMatutino">
														<label for="horarioMatutino">Matutino</label>
													</div>
												</div>
											</div>
										</div>
										<div class="panel-body">
											<div class="form-group" ng-class="{ 'has-error' : ubsForm.horarioMatutinoInicio.$error.time && !ubsForm.horarioMatutinoInicio.$pristine }">
												<label class="col-sm-2 control-label" for="horarioMatutinoInicio">Início</label>
												<div class="col-sm-6">
													<input type="time" ng-disabled="form.parametroUbs.horarioMatutino==false" id="horarioMatutinoInicio" name="horarioMatutinoInicio" ng-model="form.parametroUbs.horarioMatutinoInicio" class="form-control"/>
													<p ng-show="ubsForm.horarioMatutinoInicio.$error.time && !ubsForm.horarioMatutinoInicio.$pristine" class="help-block">Hora inválida.</p>
												</div>
											</div>
											
											<div class="form-group" ng-class="{ 'has-error' : ubsForm.horarioMatutinoFim.$error.time && !ubsForm.horarioMatutinoFim.$pristine }">
												<label class="col-sm-2 control-label" for="horarioMatutinoFim">Fim</label>
												<div class="col-sm-6">
													<input type="time" ng-disabled="form.parametroUbs.horarioMatutino==false" id="horarioMatutinoFim" name="horarioMatutinoFim" ng-model="form.parametroUbs.horarioMatutinoFim" class="form-control"/>
													<p ng-show="ubsForm.horarioMatutinoFim.$error.time && !ubsForm.horarioMatutinoFim.$pristine" class="help-block">Hora inválida.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="panel panel-info">
										<div class="panel-heading">
											<div class="form-group" style="margin-bottom: 5px">
												<div class="col-xs-7 col-sm-7 col-md-7">
													<div class="checkbox">
														<input type="checkbox" ng-change="setFocusHorario('#horarioVespertinoInicio', '#horarioVespertinoFim')" ng-model="form.parametroUbs.horarioVespertino" ng-init="form.parametroUbs.horarioVespertino=false" id="horarioVespertino" name="horarioVespertino">
														<label for="horarioVespertino">Vespertino</label>
													</div>
												</div>
											</div>
										</div>
									
										<div class="panel-body">
											<div class="form-group" ng-class="{ 'has-error' : ubsForm.horarioVespertinoInicio.$error.time && !ubsForm.horarioVespertinoInicio.$pristine }">
												<label class="col-sm-2 control-label" for="horarioVespertinoInicio">Início</label>
												<div class="col-sm-6">
													<input type="time" ng-disabled="form.parametroUbs.horarioVespertino==false" id="horarioVespertinoInicio" name="horarioVespertinoInicio" ng-model="form.parametroUbs.horarioVespertinoInicio" class="form-control"/>
													<p ng-show="ubsForm.horarioVespertinoInicio.$error.time && !ubsForm.horarioVespertinoInicio.$pristine" class="help-block">Hora inválida.</p>
												</div>
											</div>
											
											<div class="form-group" ng-class="{ 'has-error' : ubsForm.horarioVespertinoFim.$error.time && !ubsForm.horarioVespertinoFim.$pristine }">
												<label class="col-sm-2 control-label" for="horarioVespertinoFim">Fim</label>
												<div class="col-sm-6">
													<input type="time" ng-disabled="form.parametroUbs.horarioVespertino==false" id="horarioVespertinoFim" name="horarioVespertinoFim" ng-model="form.parametroUbs.horarioVespertinoFim" class="form-control"/>
													<p ng-show="ubsForm.horarioVespertinoFim.$error.time && !ubsForm.horarioVespertinoFim.$pristine" class="help-block">Hora inválida.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="panel panel-info">
										<div class="panel-heading">
											<div class="form-group" style="margin-bottom: 5px">
												<div class="col-xs-7 col-sm-7 col-md-7">
													<div class="checkbox">
														<input type="checkbox" ng-change="setFocusHorario('#horarioNoturnoInicio', '#horarioNoturnoFim')" ng-model="form.parametroUbs.horarioNoturno" ng-init="form.parametroUbs.horarioNoturno=false" id="horarioNoturno" name="horarioNoturno">
														<label for="horarioNoturno">Noturno</label>
													</div>
												</div>
											</div>
										</div>
								
										<div class="panel-body">
											<div class="form-group" ng-class="{ 'has-error' : ubsForm.horarioNoturnoInicio.$error.time && !ubsForm.horarioNoturnoInicio.$pristine }">
												<label class="col-sm-2 control-label" for="horarioNoturnoInicio">Início</label>
												<div class="col-sm-6">
													<input type="time" ng-disabled="form.parametroUbs.horarioNoturno==false" id="horarioNoturnoInicio" name="horarioNoturnoInicio" ng-model="form.parametroUbs.horarioNoturnoInicio" class="form-control"/>
													<p ng-show="ubsForm.horarioNoturnoInicio.$error.time && !ubsForm.horarioNoturnoInicio.$pristine" class="help-block">Hora inválida.</p>
												</div>
											</div>
											
											<div class="form-group" ng-class="{ 'has-error' : ubsForm.horarioNoturnoFim.$error.time && !ubsForm.horarioNoturnoFim.$pristine }">
												<label class="col-sm-2 control-label" for="horarioNoturnoFim">Fim</label>
												<div class="col-sm-6">
													<input type="time" ng-disabled="form.parametroUbs.horarioNoturno==false" id="horarioNoturnoFim" name="horarioNoturnoFim" ng-model="form.parametroUbs.horarioNoturnoFim" class="form-control"/>
													<p ng-show="ubsForm.horarioNoturnoFim.$error.time && !ubsForm.horarioNoturnoFim.$pristine" class="help-block">Hora inválida.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<hr>

			<div class="form-group">
				<div style="margin-left: 15px;"><!--<div class="pull-right">-->
					<button class="btn  btn-primary" type="submit" ng-disabled="ubsForm.$invalid">Salvar</button>
					<a ng-click="cancelar(ubsForm.$dirty)" class="btn  btn-default">Cancelar</a>
					<a ng-click="excluir()" ng-show="editandoCadastro" class="btn  btn-link aw-btn-link-danger">Excluir esta UBS</a>
				</div>
			</div>
		</form>
	</div>
</div>
