<div ng-controller="AgendamentoController">

	<div class="page-header">
		<div class="container-fluid">
			<h1 ng-bind-template="{{title}}"></h1>
		</div>
	</div>

	<div class="container-fluid">
		<form class="form-horizontal form-vertical  js-form-loading" name="agendamentoForm" ng-submit="update()">
			<!-- Id input-->
			<input type="hidden" id="i_agendamento" name="i_agendamento" ng-model="form.i_agendamento" />

			<!-- Cidadão Select-->
			<div class="form-group mdn-required" ng-class="{ 'has-error' : agendamentoForm.i_cidadao.$invalid && !agendamentoForm.i_cidadao.$pristine }">
				<label for="i_cidadao" class="col-sm-2 control-label">Cidadão</label>
				<div class="col-sm-5">
					<select class="form-control" id="i_cidadao" ng-change="mudouCidadao()" name="i_cidadao" required ng-options="cidadao.nomeCompleto for cidadao in cidadaos track by cidadao.i_cidadao" ng-model="form.cidadao"></select>

					<p ng-show="agendamentoForm.i_cidadao.$error.required && !agendamentoForm.i_cidadao.$pristine" class="help-block">Selecione um cidadão.</p>
				</div>
			</div>

			<!-- Profissional Select-->
			<div class="form-group mdn-required" ng-class="{ 'has-error' : agendamentoForm.i_profissional.$invalid && !agendamentoForm.i_profissional.$pristine }">
				<label for="i_profissional" class="col-sm-2 control-label">Profissional</label>
				<div class="col-sm-5">
					<select class="form-control" id="i_profissional" name="i_profissional" required ng-options="lotacao.profissional.nome for lotacao in profissionais track by lotacao.profissional.i_profissional" ng-model="form.profissionalLotacao"></select>

					<p ng-show="agendamentoForm.i_profissional.$error.required && !agendamentoForm.i_profissional.$pristine" class="help-block">Selecione um profissional.</p>
				</div>
			</div>

			<!-- Data do Agendamento Input -->
			<div class="form-group sisape-required" ng-class="{ 'has-error' : agendamentoForm.dataAgendamento.$invalid && !agendamentoForm.dataAgendamento.$pristine }">
				<label class="col-sm-2 control-label" for="dataAgendamento">Data do agendamento</label>
				<div class="col-sm-2">
					<p class="input-group">
					<input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="form.dataAgendamento" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Fechar" current-text="Hoje" clear-text="Limpar" id="dataAgendamento" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					<p ng-show="agendamentoForm.dataAgendamento.$error.required && !agendamentoForm.dataAgendamento.$pristine" class="help-block">Campo obrigatório.</p>
					</p>
				</div>
			</div>



			<!-- Queixa Principal Input -->
			<div class="form-group sisape-required" ng-class="{ 'has-error' : agendamentoForm.queixaPrincipal.$invalid && !agendamentoForm.queixaPrincipal.$pristine }">
				<label class="col-sm-2 control-label" for="queixaPrincipal">Queixa Principal</label>
				<div class="col-sm-10">
					<textarea ng-model="form.queixaPrincipal" id="queixaPrincipal" required name="queixaPrincipal" class="form-control" rows="3" maxlength="1024"></textarea>
					<p ng-show="agendamentoForm.queixaPrincipal.$error.required && !agendamentoForm.queixaPrincipal.$pristine" class="help-block">Campo obrigatório.</p>
				</div>
			</div>

			<!-- Sintomas Input -->
			<div class="form-group sisape-required">

				<label class="col-sm-2 control-label">Sintomas</label>
				<div class="col-sm-10">

					<table class="table table-condensed">
						<thead>
							<th>CID <span class="label label-info">Caso souber</span></th>
							<th>Descrição</th>
							<th class="text-center">Ação</th>
						</thead>
						<tbody>
							<tr ng-repeat="sintoma in form.agendamentoSintoma">
								<td>
									<select class="form-control" id="i_cid" name="i_cid" ng-options="cid.codigoCid + ' - ' + cid.descricao  for cid in listaCid track by cid.i_cid" ng-model="sintoma.cid"></select>
								</td>

								<td>
									<input ng-model="sintoma.descricao" id="descricao" required name="descricao" type="text" class="form-control" maxlength="255">
								</td>
								<td class="text-center">
									<a class="btn btn-default btn-sm" ng-click="excluirSintoma(sintoma, $index)">
										<i class="fa fa-trash"></i>
										<span class="visible-md-inline visible-lg-inline">Excluir</span>
									</a>
								</td>
							</tr>
						</tbody>
					</table>

					<div class="">
						<div class="">
							<a class="btn btn-primary" href ng-click="adicionarSintoma()">
								<i class="fa fa-plus-circle"></i> <span class="hidden-xs hidden-sm">Novo sintoma</span>
							</a>
						</div>
					</div>

				</div>
			</div>

		<table class="table">
			<tr>
				<th>Phone Number</th>
				<th>Age</th>
			</tr>
			<tr ng-repeat="horario in listaHorarios">
				<td>{{horario.senhas.horario}}</td>
				<td>{{horario.senhas.numero}}</td>
			</tr>
		</table>

			<hr>

			<div class="form-group">
				<div style="margin-left: 15px;"><!--<div class="pull-right">-->
					<button class="btn  btn-primary" type="submit" ng-disabled="agendamentoForm.$invalid">Salvar</button>
					<a ng-click="cancelar(agendamentoForm.$dirty)" class="btn  btn-default">Cancelar</a>
					<a ng-click="excluir()" ng-show="editandoCadastro" class="btn  btn-link aw-btn-link-danger">Excluir este agendamento</a>
				</div>
			</div>
		</form>
	</div>
</div>