<div ng-controller="AgendamentoController">
	<div class="page-header">
		<div class="container-fluid">
			<h1 ng-bind-template="{{title}}"></h1>
		</div>
	</div>

	<div class="container-fluid">
		<form class="form-horizontal form-vertical  js-form-loading" name="agendamentoForm" ng-submit="update()">
			<!-- Id input-->
			<input type="hidden" id="i_agendamento" name="i_agendamento" ng-model="form.i_agendamento" />

			<!-- Atendido input-->
			<input type="hidden" id="atendido" name="atendido" ng-model="form.atendido" ng-init="form.atendido = false" />

			<!-- Cidadão Select-->
			<div class="form-group mdn-required" ng-class="{ 'has-error' : agendamentoForm.i_cidadao.$invalid && !agendamentoForm.i_cidadao.$pristine }">
				<label for="i_cidadao" class="col-sm-2 control-label">Cidadão</label>
				<div class="col-sm-5">
					<select ng-hide="userLoggedIn.tipoUsuario == 'C'" class="form-control" id="i_cidadao" ng-change="mudouCidadao()" ng-disabled="form.atendido || editandoCadastro" name="i_cidadao" required ng-options="cidadao.nomeCompleto for cidadao in cidadaos track by cidadao.i_cidadao" ng-model="form.cidadao"></select>

					<h6 ng-show="userLoggedIn.tipoUsuario == 'C'" ng-bind="form.cidadao.nomeCompleto"></h6>

					<p ng-show="agendamentoForm.i_cidadao.$error.required && !agendamentoForm.i_cidadao.$pristine" class="help-block">Selecione um cidadão.</p>
				</div>
			</div>

			<!-- Profissional Select-->
			<div class="form-group mdn-required" ng-class="{ 'has-error' : agendamentoForm.i_profissional.$invalid && !agendamentoForm.i_profissional.$pristine }" ng-hide="userLoggedIn.tipoUsuario == 'C'">
				<label for="i_profissional" class="col-sm-2 control-label">Profissional</label>
				<div class="col-sm-5">
					<select class="form-control" id="i_profissional" ng-hide="form.atendido || editandoCadastro" required name="i_profissional" ng-options="lotacao.profissional.nome + ' - ' + lotacao.cbo.nome for lotacao in profissionais track by lotacao.profissional.i_profissional" ng-model="form.profissionalLotacao" ng-disabled="editandoCadastro"></select>

					<h6 ng-show="form.atendido || editandoCadastro" ng-bind="form.profissionalLotacao.profissional.nome || 'Não informado'"></h6>

					<p ng-show="agendamentoForm.i_profissional.$error.required && !agendamentoForm.i_profissional.$pristine" class="help-block">Selecione um profissional.</p>
				</div>
			</div>

			<!-- Data do Agendamento Input -->
			<div class="form-group sisape-required" ng-class="{ 'has-error' : agendamentoForm.dataAgendamento.$invalid && !agendamentoForm.dataAgendamento.$pristine }">
				<label class="col-sm-2 control-label" for="dataAgendamento">Data do agendamento</label>
				<div class="col-sm-2">
					<p class="input-group" ng-show="!editandoCadastro">
						<input type="text" class="form-control" ng-disabled="form.atendido" uib-datepicker-popup="dd/MM/yyyy" ng-model="form.dataAgendamento" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Fechar" current-text="Hoje" clear-text="Limpar" id="dataAgendamento" />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar" ng-disabled="form.atendido"></i></button>
							</span>
						<p ng-show="agendamentoForm.dataAgendamento.$error.required && !agendamentoForm.dataAgendamento.$pristine" class="help-block">Campo obrigatório.</p>
					</p>

					<h6 ng-show="editandoCadastro" ng-bind="form.dataAgendamento | date:'dd/MM/yyyy'"></h6>
				</div>
			</div>

			<!-- Horarios Select-->
			<div class="form-group mdn-required" ng-class="{ 'has-error' : agendamentoForm.horaAgendamento.$invalid && !agendamentoForm.horaAgendamento.$pristine }">
				<label for="horaAgendamento" class="col-sm-2 control-label">Horário</label>
				<div class="col-sm-8">
					<select class="form-control" id="horaAgendamento" name="horaAgendamento" required ng-options="listaHorario.horario | date:'HH:mm' for listaHorario in listaHorarios | orderBy: 'horario' track by listaHorario.horario" ng-model="form.horaAgendamento" ng-disabled="!form.cidadao" ng-show="!editandoCadastro"></select>

					<h6 ng-show="editandoCadastro" ng-bind="form.horaAgendamento | date:'HH:mm'"></h6>

					<p ng-show="agendamentoForm.horaAgendamento.$error.required && !agendamentoForm.horaAgendamento.$pristine" class="help-block">Selecione um horário.</p>
				</div>
			</div>

			<!-- Queixa Principal Input -->
			<div class="form-group sisape-required" ng-class="{ 'has-error' : agendamentoForm.queixaPrincipal.$invalid && !agendamentoForm.queixaPrincipal.$pristine }">
				<label class="col-sm-2 control-label" for="queixaPrincipal">Queixa Principal</label>
				<div class="col-sm-10">
					<textarea ng-model="form.queixaPrincipal" ng-disabled="form.atendido" id="queixaPrincipal" required name="queixaPrincipal" class="form-control" rows="3" maxlength="1024"></textarea>
					<p ng-show="agendamentoForm.queixaPrincipal.$error.required && !agendamentoForm.queixaPrincipal.$pristine" class="help-block">Campo obrigatório.</p>
				</div>
			</div>

			<!-- Sintomas Input -->
			<div class="form-group sisape-required">

				<label class="col-sm-2 control-label">Sintomas</label>
				<div class="col-sm-10">

					<table class="table table-condensed">
						<thead>
							<th>CID <span class="label label-info">Caso souber</span></th>
							<th>Descrição</th>
							<th class="text-center">Ação</th>
						</thead>
						<tbody>
							<tr ng-repeat="sintoma in form.agendamentoSintoma">
								<td>
									<select class="form-control" ng-disabled="form.atendido" id="i_cid" name="i_cid" ng-options="cid.codigoCid + ' - ' + cid.descricao  for cid in listaCid track by cid.i_cid" ng-model="sintoma.cid"></select>
								</td>

								<td>
									<input ng-model="sintoma.descricao" ng-disabled="form.atendido" id="descricao" required name="descricao" type="text" class="form-control" maxlength="255">
								</td>
								<td class="text-center">
									<a class="btn btn-default btn-sm" ng-disabled="form.atendido" ng-click="excluirSintoma(sintoma, $index)">
										<i class="fa fa-trash"></i>
										<span class="visible-md-inline visible-lg-inline">Excluir</span>
									</a>
								</td>
							</tr>
						</tbody>
					</table>

					<a class="btn btn-primary" ng-disabled="form.atendido" ng-click="adicionarSintoma()">
						<i class="fa fa-plus-circle"></i>
						<span class="hidden-xs hidden-sm">Novo sintoma</span>
					</a>
				</div>
			</div>

			<hr>

			<div class="form-group">
				<div style="margin-left: 15px;"><!--<div class="pull-right">-->
					<button class="btn  btn-primary" type="submit" ng-disabled="agendamentoForm.$invalid || form.atendido">Salvar</button>
					<a ng-click="cancelar(agendamentoForm.$dirty)" class="btn  btn-default">Cancelar</a>
					<a ng-click="excluir()" ng-show="editandoCadastro && form.atendido == false" class="btn  btn-link aw-btn-link-danger">Excluir este agendamento</a>
				</div>
			</div>
		</form>
	</div>
</div>