<div ng-controller="ProfissionalAgendaController">
	<div class="page-header">
		<div class="container-fluid">
			<h1 ng-bind-template="{{title}}"></h1>
		</div>
	</div>

	<div class="container-fluid">
		<form class="form-horizontal form-vertical  js-form-loading" name="agendaForm" ng-submit="update()">
			<!-- Id input-->
			<input type="hidden" id="i_profissional_agenda" name="i_profissional_agenda" ng-model="form.i_profissional_agenda" />

			<!-- Lotação Select-->
			<div class="form-group mdn-required" ng-class="{ 'has-error' : agendaForm.i_profissional_lotacao.$invalid && !agendaForm.i_profissional_lotacao.$pristine }">
				<label for="i_profissional_lotacao" class="col-sm-1 control-label">Lotação</label>
				<div class="col-sm-11">
					<select	required
								class="form-control"
								id="i_profissional_lotacao"
								name="i_profissional_lotacao"
								ng-model="form.lotacao"
								ng-options="lotacao.unidadeBasicaSaude.nome + ' - ' + lotacao.profissional.nome + ' - ' + lotacao.cbo.nome for lotacao in lotacoes track by lotacao.i_profissional_lotacao"
								ng-change="selecionarAgenda(form.lotacao.i_profissional_lotacao)">
					</select>

					<p ng-show="agendaForm.i_profissional_lotacao.$error.required && !agendaForm.i_profissional_lotacao.$pristine" class="help-block">Selecione uma lotação.</p>
				</div>
			</div>
			
			<div class="panel-group" aria-multiselectable="true">
				<div class="panel panel-info" ng-repeat="item in diasSemana">
					<div class="panel-heading" style="cursor: pointer;" ng-click="collapsePanel($index)">
						<h4 class="panel-title">{{ getDescricaoDiaSemana(item.diaSemana) }}</h4>
					</div>
					
					<div ng-show="isPanelCollapsed($index)">
						<div class="panel-body">
							<div class="row">
								<div class="col-md-4">
									<div class="panel panel-info">
										<div class="panel-heading">
											<div class="form-group" style="margin-bottom: 5px">
												<div class="col-xs-7 col-sm-7 col-md-7">
													<div class="checkbox">
														<input	type="checkbox"
																	ng-model="item.horarioMatutino"
																	id="horarioMatutino{{$index}}"
																	name="horarioMatutino{{$index}}">
														<label for="horarioMatutino{{$index}}">Matuino</label>
													</div>
												</div>
											</div>
										</div>

										<div class="panel-body">
											<div class="form-group">
												<label class="col-sm-2 control-label" for="horarioMatutinoInicio{{$index}}">Início</label>
												<div class="col-sm-6">
													<input	type="time"
																ng-disabled="item.horarioMatutino==false"
																id="horarioMatutinoInicio{{$index}}"
																name="horarioMatutinoInicio{{$index}}"
																ng-model="item.horarioMatutinoInicio"
																class="form-control"/>
												</div>
											</div>
											
											<div class="form-group">
												<label class="col-sm-2 control-label" for="horarioMatutinoFim{{$index}}">Fim</label>
												<div class="col-sm-6">
													<input	type="time"
																ng-disabled="item.horarioMatutino==false"
																id="horarioMatutinoFim{{$index}}"
																name="horarioMatutinoFim{{$index}}"
																ng-model="item.horarioMatutinoFim"
																class="form-control"/>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="panel panel-info">
										<div class="panel-heading">
											<div class="form-group" style="margin-bottom: 5px">
												<div class="col-xs-7 col-sm-7 col-md-7">
													<div class="checkbox">
														<input	type="checkbox"
																	ng-model="item.horarioVespertino"
																	id="horarioVespertino{{$index}}"
																	name="horarioVespertino{{$index}}">
														<label for="horarioVespertino{{$index}}">Vespertino</label>
													</div>
												</div>
											</div>
										</div>

										<div class="panel-body">
											<div class="form-group">
												<label class="col-sm-2 control-label" for="horarioVespertinoInicio{{$index}}">Início</label>
												<div class="col-sm-6">
													<input	type="time"
																ng-disabled="item.horarioVespertino==false"
																id="horarioVespertinoInicio{{$index}}"
																name="horarioVespertinoInicio{{$index}}"
																ng-model="item.horarioVespertinoInicio"
																class="form-control"/>
												</div>
											</div>
											
											<div class="form-group">
												<label class="col-sm-2 control-label" for="horarioVespertinoFim{{$index}}">Fim</label>
												<div class="col-sm-6">
													<input	type="time"
																ng-disabled="item.horarioVespertino==false"
																id="horarioVespertinoFim{{$index}}"
																name="horarioVespertinoFim{{$index}}"
																ng-model="item.horarioVespertinoFim"
																class="form-control"/>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="panel panel-info">
										<div class="panel-heading">
											<div class="form-group" style="margin-bottom: 5px">
												<div class="col-xs-7 col-sm-7 col-md-7">
													<div class="checkbox">
														<input	type="checkbox"
																	ng-model="item.horarioNoturno"
																	id="horarioNoturno{{$index}}"
																	name="horarioNoturno{{$index}}">
														<label for="horarioNoturno{{$index}}">Noturno</label>
													</div>
												</div>
											</div>
										</div>

										<div class="panel-body">
											<div class="form-group">
												<label class="col-sm-2 control-label" for="horarioNoturnoInicio{{$index}}">Início</label>
												<div class="col-sm-6">
													<input	type="time"
																ng-disabled="item.horarioNoturno==false"
																id="horarioNoturnoInicio{{$index}}"
																name="horarioNoturnoInicio{{$index}}"
																ng-model="item.horarioNoturnoInicio"
																class="form-control"/>
												</div>
											</div>
											
											<div class="form-group">
												<label class="col-sm-2 control-label" for="horarioNoturnoFim{{$index}}">Fim</label>
												<div class="col-sm-6">
													<input	type="time"
																ng-disabled="item.horarioNoturno==false"
																id="horarioNoturnoFim{{$index}}"
																name="horarioNoturnoFim{{$index}}"
																ng-model="item.horarioNoturnoFim"
																class="form-control"/>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<hr>

			<div class="form-group">
				<div style="margin-left: 15px;"><!--<div class="pull-right">-->
					<button class="btn  btn-primary" type="submit" ng-disabled="agendaForm.$invalid">Salvar</button>
				</div>
			</div>
		</form>
	</div>
</div>