<div ng-controller="ProfissionalController">

	<div class="page-header">
		<div class="container-fluid">
			<h1 ng-bind-template="{{title}}"></h1>
		</div>
	</div>

	<div class="container-fluid">
		<form class="form-horizontal form-vertical  js-form-loading" name="profissionalForm" ng-submit="update()">
			<!-- Id Input -->
			<input type="hidden" id="i_profissional" name="i_profissional" ng-model="form.i_profissional" />

			<ul class="nav nav-pills">
				<li class="active"><a href ng-click="setTab(1)" ng-class="{'active' : isSet(1)}" data-toggle="tab">Dados</a></li>
				<li><a href ng-click="setTab(2)" ng-class="{'active' : isSet(2)}" data-toggle="tab">Localização</a></li>
				<li><a href ng-click="setTab(3)" ng-class="{'active' : isSet(3)}" data-toggle="tab">Agenda</a></li>
				<li><a href ng-click="setTab(4)" ng-class="{'active' : isSet(4)}" data-toggle="tab">Parâmetros</a></li>
			</ul>

			<br>

			<div class="tab-content" ng-show="isSet(1)">
				<div class="tab-pane fade in active">
					<!-- Número Cartão Nacional de Saúde Input -->
					<div class="form-group" ng-class="{ 'has-error' : profissionalForm.numeroCartaoNacionalSaude.$invalid && !profissionalForm.numeroCartaoNacionalSaude.$pristine }">
						<label class="col-sm-2 control-label sisape-required" for="numeroCartaoNacionalSaude">Número do CNS</label>
						<div class="col-sm-3">
							<input ng-disabled="form.possuiCartaoNacionalSaude==false" ng-model="form.numeroCartaoNacionalSaude" ng-minlength="15" id="numeroCartaoNacionalSaude" name="numeroCartaoNacionalSaude" type="text" class="form-control" maxlength="15" autofocus>
							<p ng-show="profissionalForm.numeroCartaoNacionalSaude.$error.required && !profissionalForm.numeroCartaoNacionalSaude.$pristine" class="help-block">Campo obrigatório.</p>
							<p ng-show="profissionalForm.numeroCartaoNacionalSaude.$error.minlength" class="help-block">Insira ao menos 15 caracteres.</p>
						</div>

						<div class="col-sm-5">
							<div class="checkbox">
								<input type="checkbox" ng-model="form.possuiCartaoNacionalSaude" ng-init="form.possuiCartaoNacionalSaude=true" id="possuiCartaoNacionalSaude" name="possuiCartaoNacionalSaude">
								<label ng-click="ClickCheckBoxNumeroCartaoNacionalSaude()" for="possuiCartaoNacionalSaude">Possui CNS</label>
							</div>
						</div>
					</div>

					<!-- CPF Input -->
					<div class="form-group" ng-class="{ 'has-error' : profissionalForm.cpf.$invalid && !profissionalForm.cpf.$pristine }">
						<label class="col-sm-2 control-label" for="cpf">CPF</label>
						<div class="col-sm-3">
							<input ng-model="form.cpf" id="cpf" name="cpf" type="text" ng-cpf ui-mask="999.999.999-99" class="form-control" maxlength="14">
							<p ng-show="profissionalForm.cpf.$invalid && !profissionalForm.cpf.$pristine" class="help-block">Campo inválido.</p>
						</div>
					</div>

					<!-- Nome Completo Input -->
					<div class="form-group sisape-required" ng-class="{ 'has-error' : profissionalForm.nome.$invalid && !profissionalForm.nome.$pristine }">
						<label class="col-sm-2 control-label" for="nome">Nome completo</label>
						<div class="col-sm-10">
							<input ng-model="form.nome" id="nome" required name="nome" type="text" class="form-control" maxlength="100">
							<p ng-show="profissionalForm.nome.$error.required && !profissionalForm.nome.$pristine" class="help-block">Campo obrigatório.</p>
						</div>
					</div>

					<!-- Data de Nascimento Input -->
					<div class="form-group sisape-required" ng-class="{ 'has-error' : profissionalForm.dataNascimento.$invalid && !profissionalForm.dataNascimento.$pristine }">
						<label class="col-sm-2 control-label" for="dataNascimento">Data de nascimento</label>
						<div class="col-sm-2">
							<p class="input-group">
							<input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="form.dataNascimento" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Fechar" current-text="Hoje" clear-text="Limpar" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							<p ng-show="profissionalForm.dataNascimento.$error.required && !profissionalForm.dataNascimento.$pristine" class="help-block">Campo obrigatório.</p>
							</p>
						</div>
					</div>
					
					<!-- Sexo' Input -->
					<div class="form-group sisape-required" ng-class="{ 'has-error' : profissionalForm.sexo.$invalid && !profissionalForm.sexo.$pristine }">
						<label for="sexo" class="col-sm-2 control-label">Sexo</label>
						<div class="col-sm-2">
							<select class="form-control" id="sexo" name="sexo" required ng-model="form.sexo">
								<option value="FEMININO" selected="selected">Feminino</option>
								<option value="MASCULINO">Masculino</option>
							</select>
							<p ng-show="profissionalForm.sexo.$error.required && !profissionalForm.sexo.$pristine" class="help-block">Campo obrigatório.</p>
						</div>
					</div>

					<!-- Telefone Input -->
					<div class="form-group" ng-class="{ 'has-error' : profissionalForm.telefone.$invalid && !profissionalForm.telefone.$pristine }">
						<label class="col-sm-2 control-label" for="telefone">Tel. Residêncial</label>
						<div class="col-sm-3">
							<input ng-model="form.telefone" id="telefone" name="telefone" type="text" ui-mask="(999)99999-9999" class="form-control">
							<p ng-show="profissionalForm.telefone.$invalid && !profissionalForm.telefone.$pristine" class="help-block">Campo inválido.</p>
						</div>
					</div>
					
					<!-- Email Input -->
					<div class="form-group" ng-class="{ 'has-error' : profissionalForm.email.$invalid && !profissionalForm.email.$pristine }">
						<label class="col-sm-2 control-label" for="email">E-mail</label>
						<div class="col-sm-7">
							<input ng-model="form.email" id="email" name="email" type="mail" class="form-control" maxlength="100">
							<p ng-show="profissionalForm.email.$invalid && !profissionalForm.email.$pristine" class="help-block">Campo inválido.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="tab-content" ng-show="isSet(2)">
				<div class="tab-pane fade in active">
					<div class="row">
						<div class="col-md-6">
							<!-- Tipo Logradouro Select-->
							<div class="form-group">
								<label for="tipoLogradouro" class="col-sm-3 control-label">Tipo Logradouro</label>
								<div class="col-sm-7">
									<select class="form-control" id="tipoLogradouro" name="tipoLogradouro" required ng-options="tipoLogradouro.descricao for tipoLogradouro in tiposLogradouro track by tipoLogradouro.descricao" ng-model="form.tipoLogradouro"></select>
								</div>
							</div>

							<!-- Logradouro Select-->
							<div class="form-group">
								<!-- Logradouro Select-->
								<label class="col-sm-3 control-label" for="logradouro">Logradouro</label>
								<div class="col-sm-7">
									<input ng-model="form.logradouro" id="logradouro" name="logradouro" type="text" class="form-control" maxlength="100">
								</div>
							</div>

							<!-- CEP Input -->
							<div class="form-group" ng-class="{ 'has-error' : profissionalForm.cep.$invalid && !profissionalForm.cep.$pristine }">
								<label class="col-sm-3 control-label" for="cep">CEP</label>
								<div class="col-sm-4">
									<input ng-model="form.cep" id="cep" name="cep" type="text" ui-mask="99999-999" class="form-control">
									<p ng-show="profissionalForm.cep.$invalid && !profissionalForm.cep.$pristine" class="help-block">Campo inválido.</p>
								</div>
							</div>

							<!-- Bairro Input -->
							<div class="form-group">
								<label class="col-sm-3 control-label" for="bairro">Bairro</label>
								<div class="col-sm-7">
									<input ng-model="form.bairro" id="bairro" name="bairro" type="text" class="form-control" maxlength="100">
								</div>
							</div>

						</div>

						<div class="col-md-6">
							<!-- Número Input -->
							<div class="form-group">
								<label class="col-sm-3 control-label" for="numero">Número</label>
								<div class="col-sm-4">
									<input ng-disabled="form.semNumero==true" ng-model="form.numero" id="numero" name="numero" type="text" class="form-control">
								</div>

								<!-- Sem Número Check -->
								<div class="col-sm-4">
									<div class="checkbox">
										<input type="checkbox" ng-model="form.semNumero" ng-init="form.semNumero=false" id="semNumero" name="semNumero">
										<label for="semNumero" ng-click="ClickCheckBoxSemNumero()">Sem Número</label>
									</div>
								</div>
							</div>

							<!-- Complemento Input -->
							<div class="form-group">
								<label class="col-sm-3 control-label" for="complemento">Complemento</label>
								<div class="col-sm-7">
									<input ng-model="form.complemento" id="complemento" name="complemento" type="text" class="form-control" maxlength="100">
								</div>
							</div>

							<!-- Ponto de referência Input -->
							<div class="form-group">
								<label class="col-sm-3 control-label" for="pontoReferencia">Referência</label>
								<div class="col-sm-7">
									<input ng-model="form.pontoReferencia" id="pontoReferencia" name="pontoReferencia" type="text" class="form-control" maxlength="100">
								</div>
							</div>

							<!-- Municípo Select-->
							<div class="form-group">
								<label for="municipio" class="col-sm-3 control-label">Município</label>
								<div class="col-sm-7">
									<select class="form-control" id="municipio" name="municipio" required ng-options="municipio.nome + '/' + municipio.estado.sigla + '/' + municipio.estado.pais.sigla for municipio in municipios track by municipio.nome" ng-model="form.municipio"></select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="tab-content" ng-show="isSet(3)">
				<div class="tab-pane fade in active">
				</div>
			</div>

			<div class="tab-content" ng-show="isSet(4)">
				<div class="tab-pane fade in active">
				</div>
			</div>
			
			<hr>

			<div class="form-group">
				<div style="margin-left: 15px;"><!--<div class="pull-right">-->
					<button class="btn  btn-primary" type="submit" ng-disabled="profissionalForm.$invalid">Salvar</button>
					<a ng-click="cancelar(profissionalForm.$dirty)" class="btn  btn-default">Cancelar</a>
					<a ng-click="excluir()" ng-show="editandoCadastro" class="btn  btn-link aw-btn-link-danger">Excluir este cidadão</a>
				</div>
			</div>
		</form>
	</div>
</div>
