<div ng-controller="AdoecimentoRelatorioController">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<h1 ng-bind-template="{{title}}"></h1>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<form class="form-vertical js-form-loading">
			<div class="row">
				<div class="col-sm-1">
					<div class="form-group">
						<label for="input-nome" class="control-label">Tipo de Filtro</label>
					</div>
				</div>
				<div class="col-sm-11">
					<div class="form-group">
						<select class="form-control" id="filtro" name="filtro" required ng-model="filtro">
							<option value="VAZIO" selected>Selecione um filtro</option>
							<option value="MUNICIPIO">Município</option>
							<option value="UBS">UBS</option>
							<option value="PERIODO">Período</option>
						</select>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-1">
					<div class="form-group">
						<label for="input-nome">Município</label>
					</div>
				</div>
				<div class="col-sm-11">
					<div class="form-group">
						<select class="form-control" id="i_municipio" name="i_municipio" required ng-options="municipio.nome for municipio in municipios track by municipio.i_municipio" ng-model="municipio" ng-disabled="filtro!='MUNICIPIO'"></select>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-1">
					<div class="form-group">
						<label for="input-nome" class="control-label">UBS</label>
					</div>
				</div>
				<div class="col-sm-11">
					<div class="form-group">
						<select class="form-control" id="i_unidade_basica_saude" name="i_unidade_basica_saude" required ng-options="ubs.nome for ubs in ubss track by ubs.i_unidade_basica_saude" ng-model="unidadeBasicaSaude" ng-disabled="filtro!='UBS'"></select>
					</div>
				</div>
			</div>
						
			<div class="row">
				<div class="col-sm-1">
					<div class="form-group">
						<label for="input-nome">Período</label>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group">
						<p class="input-group">
						<input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="dataInicio" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Fechar" current-text="Hoje" clear-text="Limpar" id="dataInicio" ng-disabled="filtro!='PERIODO'"/>
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="open2()" ng-disabled="filtro!='PERIODO'"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						<p ng-show="form.dataInicio.$error.required && !form.dataInicio.$pristine" class="help-block">Campo obrigatório.</p>
						</p>
					</div>
				</div>
				<div class="col-sm-1">
					<div class="form-group">
						<label for="input-nome">até</label>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group">
						<p class="input-group">
						<input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="dataFinal" is-open="popup3.opened" datepicker-options="dateOptions" ng-required="true" close-text="Fechar" current-text="Hoje" clear-text="Limpar" id="dataFinal"" ng-disabled="filtro!='PERIODO'"/>
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="open3()" ng-disabled="filtro!='PERIODO'"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						<p ng-show="form.dataFinal.$error.required && !form.dataFinal.$pristine" class="help-block">Campo obrigatório.</p>
						</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
					</div>
				</div>
			</div>

			<div class="form-group">
				<button class="btn  btn-primary" ng-click="AtendimentoRelatorioPesquisar()">Pesquisar</button>
				<button class="btn  btn-primary" ng-click="AtendimentoRelatorioImprimir()" ng-disabled="listaVazia">Imprimir</button>
				<button class="btn  btn-default" ng-click="AtendimentoRelatorioLimpar()">Limpar</button>
			</div>
		</form>
		
		<div class="alert  aw-alert-no-results" role="alert" ng-show="listaVazia">
			A pesquisa não retornou nenhum adoecimento.
		</div>

		<div class="table-responsive" ng-show="!listaVazia">
			<table id="tabela-produtos" class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
				<thead class="aw-table-header-solid">
					<tr>
						<th class="text-center">Município</th>
						<th class="text-center">Município Nome</th>
						<th class="text-center">Unidade Básica Saúde</th>
						<th class="text-center">Código CID</th>
						<th class="text-center">Descrição CID</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="item in itens">
						<td ng-bind="item.agendamento.profissionalLotacao.unidadeBasicaSaude.municipio.codigoIbge" class="text-cente"></td>
						<td ng-bind="item.agendamento.profissionalLotacao.unidadeBasicaSaude.municipio.nome" class="text-cente"></td>
						<td ng-bind="item.agendamento.profissionalLotacao.unidadeBasicaSaude.nome" class="text-center"></td>
						<td ng-bind="item.codigoCid" class="text-center"></td>
						<td ng-bind="item.descricaoCid" class="text-center"></td>
					</tr>
				</tbody>
			</table>
		</div>
			
		<div class="row">
			<div class="col-xs-12  col-md-4  aw-text-xs-center  aw-text-md-right" style="float: right;">
				<span class="aw-pagination-info" ng-bind-template="{{totalItens}} adoecimento(s) encontrado(s)" ng-show="!listaVazia"></span>
			</div>
		</div>
	</div>
</div>