<div ng-controller="AtendimentoController">
	<div class="page-header">
		<div class="container-fluid">
			<h1 ng-bind-template="{{title}}"></h1>
		</div>
	</div>

	<div class="container-fluid">
		<form class="form-horizontal form-vertical  js-form-loading" name="atendimentoForm" ng-submit="update()">
			<!-- Id input-->
			<input type="hidden" id="i_atendimento" name="i_atendimento" ng-model="form.i_atendimento" />

			<ul class="nav nav-pills">
				<li class="active"><a href ng-click="setTab(1)" ng-class="{'active' : isSet(1)}" data-toggle="tab">Dados</a></li>
				<li><a href ng-click="setTab(2)" ng-class="{'active' : isSet(2)}" data-toggle="tab">Escuta inicial</a></li>
				<li><a href ng-click="setTab(3)" ng-class="{'active' : isSet(3)}" data-toggle="tab">SOAP</a></li>
				<li><a href ng-click="setTab(4)" ng-class="{'active' : isSet(4)}" data-toggle="tab">Outros</a></li>
			</ul>

			<br>

			<div class="tab-content" ng-show="isSet(1)">
				<div class="tab-pane fade in active">
					<!-- Agendamento Select-->
					<div class="form-group mdn-required" ng-class="{ 'has-error' : atendimentoForm.i_agendamento.$invalid && !atendimentoForm.i_agendamento.$pristine }">
						<label for="i_agendamento" class="col-sm-2 control-label">Agendamento</label>
						<div class="col-sm-5">
							<select class="form-control" id="i_agendamento" name="i_agendamento" required ng-options="agendamento.cidadao.nomeCompleto + ' - ' + (agendamento.dataAgendamento | date:'dd/MM/yyyy') + ' - ' + (agendamento.horaAgendamento | date:'HH:mm') for agendamento in agendamentos track by agendamento.i_agendamento" ng-model="form.agendamento" ng-change="mudouAgendamento()" ng-disabled="true"></select>

							<p ng-show="atendimentoForm.i_agendamento.$error.required && !atendimentoForm.i_agendamento.$pristine" class="help-block">Selecione um agendamento.</p>
						</div>
					</div>

					<!-- Data do Agendamento Input -->
					<div class="form-group sisape-required" ng-class="{ 'has-error' : atendimentoForm.dataAtendimento.$invalid && !atendimentoForm.dataAtendimento.$pristine }">
						<label class="col-sm-2 control-label" for="dataAtendimento">Data do atendimento</label>
						<div class="col-sm-2">
							<p class="input-group">
								<input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="form.dataAtendimento" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Fechar" current-text="Hoje" clear-text="Limpar" id="dataAtendimento"/>
									<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
									</span>
								<p ng-show="atendimentoForm.dataAtendimento.$error.required && !atendimentoForm.dataAtendimento.$pristine" class="help-block">Campo obrigatório.</p>
							</p>
						</div>
					</div>

					<!-- Hora do atendimento -->
					<div class="form-group">
						<label class="col-sm-2 control-label" for="horaAtendimento">Hora do atendimento</label>
						<div class="col-sm-2">
							<input ng-model="form.horaAtendimento" id="horaAtendimento" name="horaAtendimento" type="time" class="form-control">
						</div>
					</div>

					<!-- Cidadão -->
					<div class="form-group">
						<label class="col-sm-2 control-label">Cidadão</label>
						<div class="col-sm-6">
							<input ng-model="form.agendamento.cidadao.nomeCompleto" ng-disabled="true" id="nomeCompleto" name="nomeCompleto" type="text" class="form-control">
						</div>
					</div>
				</div>
			</div>

			<div class="tab-content" ng-show="isSet(2)">
				<div class="tab-pane fade in active">
					<!-- Altura -->
					<div class="form-group">
						<label class="col-xs-2 col-sm-2 col-md-2 control-label" for="altura">Altura</label>
						<div class="col-sm-4">
							<input ng-model="form.altura" id="altura" name="altura" type="number" step="any" maxlength="12" class="form-control" min="0" max="999999999999">
						</div>
					</div>

					<!-- IMC -->
					<div class="form-group">
						<label class="col-xs-2 col-sm-2 col-md-2 control-label" for="imc">IMC</label>
						<div class="col-sm-4">
							<input ng-model="form.imc" id="imc" name="imc" type="number" step="any" maxlength="12" class="form-control" min="0" max="999999999999">
						</div>
					</div>

					<!-- Frequencia Cardiaca -->
					<div class="form-group">
						<label class="col-xs-2 col-sm-2 col-md-2 control-label" for="frequenciaCardiaca">Freq. Card.</label>
						<div class="col-sm-4">
							<input ng-model="form.frequenciaCardiaca" id="frequenciaCardiaca" name="frequenciaCardiaca" type="number" step="any" maxlength="12" class="form-control" min="0" max="999999999999">
						</div>
					</div>

					<!-- Frequencia Respiratoria -->
					<div class="form-group">
						<label class="col-xs-2 col-sm-2 col-md-2 control-label" for="frequenciaRespiratoria">Freq. Resp.</label>
						<div class="col-sm-4">
							<input ng-model="form.frequenciaRespiratoria" id="frequenciaRespiratoria" name="frequenciaRespiratoria" type="number" step="any" maxlength="12" class="form-control" min="0" max="999999999999">
						</div>
					</div>

					<!-- Peso -->
					<div class="form-group">
						<label class="col-xs-2 col-sm-2 col-md-2 control-label" for="peso">Peso</label>
						<div class="col-sm-4">
							<input ng-model="form.peso" id="peso" name="peso" type="number" step="any" maxlength="12" class="form-control" min="0" max="999999999999">
						</div>
					</div>

					<!-- Temperatura -->
					<div class="form-group">
						<label class="col-xs-2 col-sm-2 col-md-2 control-label" for="temperatura">Temperatura</label>
						<div class="col-sm-4">
							<input ng-model="form.temperatura" id="temperatura" name="temperatura" type="number" step="any" maxlength="12" class="form-control" min="0" max="999999999999">
						</div>
					</div>

					<!-- Pressão Máxima -->
					<div class="form-group">
						<label class="col-xs-2 col-sm-2 col-md-2 control-label" for="pressaoMaxima">Pressão Máxima</label>
						<div class="col-sm-4">
							<input ng-model="form.pressaoMaxima" id="pressaoMaxima" name="pressaoMaxima" type="number" maxlength="12" class="form-control" min="0" max="999999999999">
						</div>
					</div>

					<!-- Pressão Máxima -->
					<div class="form-group">
						<label class="col-xs-2 col-sm-2 col-md-2 control-label" for="pressaoMinima">Pressão Mínima</label>
						<div class="col-sm-4">
							<input ng-model="form.pressaoMinima" id="pressaoMinima" name="pressaoMinima" type="number"maxlength="12" class="form-control" min="0" max="999999999999">
						</div>
					</div>

				</div>
			</div>

			<div class="tab-content" ng-show="isSet(3)">
				<div class="tab-pane fade in active">
					<!-- Subjetivo Input -->
					<div class="form-group sisape-required" ng-class="{ 'has-error' : atendimentoForm.subjetivo.$invalid && !atendimentoForm.subjetivo.$pristine }">
						<label class="col-sm-1 control-label" for="subjetivo">Subjetivo</label>
						<div class="col-sm-10">
							<textarea ng-model="form.subjetivo" id="subjetivo" required name="subjetivo" class="form-control" rows="3" maxlength="5120"></textarea>
							<p ng-show="atendimentoForm.subjetivo.$error.required && !atendimentoForm.subjetivo.$pristine" class="help-block">Campo obrigatório.</p>
						</div>
					</div>

					<!-- Objetivo Input -->
					<div class="form-group sisape-required" ng-class="{ 'has-error' : atendimentoForm.objetivo.$invalid && !atendimentoForm.objetivo.$pristine }">
						<label class="col-sm-1 control-label" for="objetivo">Objetivo</label>
						<div class="col-sm-10">
							<textarea ng-model="form.objetivo" id="objetivo" required name="objetivo" class="form-control" rows="3" maxlength="5120"></textarea>
							<p ng-show="atendimentoForm.objetivo.$error.required && !atendimentoForm.objetivo.$pristine" class="help-block">Campo obrigatório.</p>
						</div>
					</div>

					<!-- Avaliação Input -->
					<div class="form-group sisape-required" ng-class="{ 'has-error' : atendimentoForm.avaliacao.$invalid && !atendimentoForm.avaliacao.$pristine }">
						<label class="col-sm-1 control-label" for="avaliacao">Avaliação</label>
						<div class="col-sm-10">
							<textarea ng-model="form.avaliacao" id="avaliacao" required name="avaliacao" class="form-control" rows="3" maxlength="5120"></textarea>
							<p ng-show="atendimentoForm.avaliacao.$error.required && !atendimentoForm.avaliacao.$pristine" class="help-block">Campo obrigatório.</p>
						</div>
					</div>

					<!-- Plano Input -->
					<div class="form-group sisape-required" ng-class="{ 'has-error' : atendimentoForm.plano.$invalid && !atendimentoForm.plano.$pristine }">
						<label class="col-sm-1 control-label" for="plano">Plano</label>
						<div class="col-sm-10">
							<textarea ng-model="form.plano" id="plano" required name="plano" class="form-control" rows="3" maxlength="5120"></textarea>
							<p ng-show="atendimentoForm.plano.$error.required && !atendimentoForm.plano.$pristine" class="help-block">Campo obrigatório.</p>
						</div>
					</div>
				</div>
			</div>


			<div class="tab-content" ng-show="isSet(4)">
				<div class="tab-pane fade in active">
					<div class="col-sm-12">
						<!-- Sintomas Input -->
						<div class="form-group sisape-required">
							<table class="table table-condensed">
								<thead>
									<th>CID</th>
									<th class="text-center">Ação</th>
								</thead>
								
								<tbody>
									<tr ng-repeat="sintoma in form.atendimentoSintoma">
										<td width="90%">
											<select class="form-control" id="i_cid" name="i_cid" ng-options="cid.codigoCid + ' - ' + cid.descricao  for cid in listaCid track by cid.i_cid" ng-model="sintoma.cid"></select>
										</td>

										<td class="text-center" width="10%">
											<a class="btn btn-default btn-sm" ng-click="excluirSintoma(sintoma, $index)">
												<i class="fa fa-trash"></i>
												<span class="visible-md-inline visible-lg-inline">Excluir</span>
											</a>
										</td>
									</tr>
								</tbody>
							</table>

							<a class="btn btn-primary" ng-click="adicionarSintoma()">
								<i class="fa fa-plus-circle"></i>
								<span class="hidden-xs hidden-sm">Nova CID</span>
							</a>
						</div>

						<hr>

						<!-- Medicamentos Input -->
						<div class="form-group sisape-required">
							<table class="table table-condensed">
								<thead>
									<th>Medicamento</th>
									<th>Posologia</th>
									<th class="text-center">Ação</th>
								</thead>

								<tbody>
									<tr ng-repeat="m in form.atendimentoMedicamento">
										<td width="60%">
											<select class="form-control" id="i_medicamento" name="i_medicamento" ng-options="m.nome for m in listaMedicamento track by m.i_medicamento" ng-model="m.medicamento"></select>
										</td>

										<td width="30%">
											<input ng-model="m.posologia" id="posologia" required name="posologia" type="text" class="form-control" maxlength="100">
										</td>

										<td class="text-center" width="10%">
											<a class="btn btn-default btn-sm" ng-click="excluirMedicamento(m, $index)">
												<i class="fa fa-trash"></i>
												<span class="visible-md-inline visible-lg-inline">Excluir</span>
											</a>
										</td>
									</tr>
								</tbody>
							</table>

							<a class="btn btn-primary" ng-click="adicionarMedicamento()">
								<i class="fa fa-plus-circle"></i>
								<span class="hidden-xs hidden-sm">Novo medicamento</span>
							</a>
						</div>

						<hr>

						<!-- Exames Input -->
						<div class="form-group sisape-required">
							<table class="table table-condensed">
								<thead>
									<th>Exame</th>
									<th class="text-center">Ação</th>
								</thead>

								<tbody>
									<tr ng-repeat="exame in form.atendimentoExame">
										<td width="90%">
											<select class="form-control" id="i_exame" name="i_exame" ng-options="exame.i_exame + ' - ' + exame.nome for exame in listaExame track by exame.i_exame" ng-model="exame.exame"></select>
										</td>

										<td class="text-center" width="10%">
											<a class="btn btn-default btn-sm" ng-click="excluirExame(exame, $index)">
												<i class="fa fa-trash"></i>
												<span class="visible-md-inline visible-lg-inline">Excluir</span>
											</a>
										</td>
									</tr>
								</tbody>
							</table>

							<a class="btn btn-primary" ng-click="adicionarExame()">
								<i class="fa fa-plus-circle"></i>
								<span class="hidden-xs hidden-sm">Novo exame</span>
							</a>
						</div>
					</div>
				</div>
			</div>

			<hr>

			<div class="form-group">
				<div style="margin-left: 15px;"><!--<div class="pull-right">-->
					<button class="btn  btn-primary" type="submit" ng-disabled="atendimentoForm.$invalid">Salvar</button>
					<a ng-click="cancelar(atendimentoForm.$dirty)" class="btn  btn-default">Cancelar</a>
					<a ng-click="excluir()" ng-show="editandoCadastro" class="btn  btn-link aw-btn-link-danger">Excluir este agendamento</a>
				</div>
			</div>
		</form>
	</div>
</div>