<div ng-controller="ProntuarioController">
	<div class="page-header">
		<div class="container-fluid">
			<h1 ng-bind-template="{{title}}"></h1>
		</div>
	</div>

	<div class="container-fluid">
		<form class="form-horizontal form-vertical  js-form-loading" name="prontuarioForm" ng-submit="update()">
			<!-- Cidadão Select-->
			<div class="form-group mdn-required" ng-class="{ 'has-error' : prontuarioForm.i_cidadao.$invalid && !prontuarioForm.i_cidadao.$pristine }">
				<label for="i_cidadao" class="col-sm-1 control-label">Cidadão</label>
				<div class="col-sm-11">
					<select	required
								class="form-control"
								id="i_cidadao"
								name="i_cidadao"
								ng-model="cidadao"
								ng-options="(cidadao.cpf | cpf) + ' - ' + cidadao.nomeCompleto for cidadao in cidadaos track by cidadao.i_cidadao"
								ng-change="OnChangeCidadao(cidadao)">
					</select>

					<p ng-show="prontuarioForm.i_cidadao.$error.required && !prontuarioForm.i_cidadao.$pristine" class="help-block">Selecione um cidadão.</p>
				</div>
			</div>

			<div class="alert  aw-alert-no-results" role="alert" ng-show="listaVazia">
				Não há dados para mostrar
			</div>
			
			<div class="panel-group" aria-multiselectable="true">
				<div class="panel panel-info" ng-repeat="item in atendimentos">
					<div class="panel-heading" style="cursor: pointer;" ng-click="collapsePanel($index)">
						<h4 class="panel-title" ng-bind="'Atendimento: ' + item.i_atendimento + ', Data/Hora: ' + (item.dataAtendimento | date:'dd/MM/yyyy') + ' ' + (item.horaAtendimento | date:'HH:mm')"></h4>
					</div>
					
					<div ng-show="isPanelCollapsed($index)">
						<div class="panel-body">
							<p ng-bind="'Cidadão: ' + item.agendamento.cidadao.nomeCompleto"></p>
							<p ng-bind="'Profissional: ' + item.agendamento.profissionalLotacao.profissional.nome + ' - ' + item.agendamento.profissionalLotacao.cbo.nome"></p>

							<hr>

							<div class="row">
								<div class="col-md-6">
									<p ng-bind="'Altura (m): ' + item.altura"></p>
									<p ng-bind="'Peso (kg): ' + item.peso"></p>
									<p ng-bind="'IMC: ' + (item.imc | number: 2) + ' - ' + getDescricaoIMC(item.imc)"></p>
									<p ng-bind="'Freq. Card. (bpm): ' + item.frequenciaCardiaca"></p>
									<p ng-bind="'Freq. Resp. (mpm): ' + item.frequenciaRespiratoria"></p>
									<p ng-bind="'Temperatura (ºC): ' + item.temperatura"></p>
									<p ng-bind="'Pressão Máxima (mmHg): ' + item.pressaoMaxima"></p>
									<p ng-bind="'Pressão Mínima (mmHg): ' + item.pressaoMinima"></p>
								</div>

								<div class="col-md-6">
									<p ng-bind="'Subjetivo: ' + item.subjetivo"></p>
									<p ng-bind="'Objetivo: ' + item.objetivo"></p>
									<p ng-bind="'Avaliação: ' + item.avaliacao"></p>
									<p ng-bind="'Plano: ' + item.plano"></p>
								</div>
							</div>
							
							<hr>

							<ul class="nav nav-pills">
								<li class="active"><a href ng-click="setTab($index, 1)" ng-class="{'active' : isTab($index, 1)}" data-toggle="tab">CIDs</a></li>
								<li><a href ng-click="setTab($index, 2)" ng-class="{'active' : isTab($index, 2)}" data-toggle="tab">Medicamentos</a></li>
								<li><a href ng-click="setTab($index, 3)" ng-class="{'active' : isTab($index, 3)}" data-toggle="tab">Exames</a></li>
							</ul>

							<br>

							<div class="tab-content" ng-show="isTab($index, 1)">
								<div class="tab-pane fade in active">
									<div class="alert  aw-alert-no-results" role="alert" ng-show="item.atendimentoSintoma.length === 0">
										Não foi informado sintomas.
									</div>

									<table class="table table-condensed" ng-show="item.atendimentoSintoma.length > 0">
										<thead>
											<th>Descrição</th>
										</thead>
										<tbody>
											<tr ng-repeat="sintoma in item.atendimentoSintoma">
												<td ng-bind="sintoma.cid.descricao"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

							<div class="tab-content" ng-show="isTab($index, 2)">
								<div class="tab-pane fade in active">
									<div class="alert  aw-alert-no-results" role="alert" ng-show="item.atendimentoMedicamento.length === 0">
										Não foi solicitado medicamentos.
									</div>

									<table class="table table-condensed" ng-show="item.atendimentoMedicamento.length > 0">
										<thead>
											<th>Nome</th>
											<th>Posologia</th>
										</thead>
										<tbody>
											<tr ng-repeat="medicamento in item.atendimentoMedicamento">
												<td width="60%" ng-bind="medicamento.medicamento.nome"></td>
												<td width="30%" ng-bind="medicamento.posologia"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

							<div class="tab-content" ng-show="isTab($index, 3)">
								<div class="tab-pane fade in active">

									<div class="alert  aw-alert-no-results" role="alert" ng-show="item.atendimentoExame.length === 0">
										Não foi solicitado exames.
									</div>

									<table class="table table-condensed" ng-show="item.atendimentoExame.length > 0">
										<thead>
											<th>Nome</th>
										</thead>
										<tbody>
											<tr ng-repeat="exame in item.atendimentoExame">
												<td ng-bind="exame.exame.nome"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<hr>

			<div class="form-group">
				<div style="margin-left: 15px;">
					<button class="btn  btn-primary" ng-click="Imprimir()" ng-disabled="listaVazia">Imprimir</button>
				</div>
			</div>
		</form>
	</div>
</div>