<div ng-controller="PacienteController">
	<div class="container" id="container">
		<form class="form-horizontal" name="pacienteForm" ng-submit="update()">
			<div class="panel panel-default">
				<div class="panel-heading">
					<span ng-bind="title" class="sisape-titulo-panel"></span>
				</div>
				<div class="panel-body">
					<fieldset>
						<!-- Id input-->
						<input type="hidden" id="i_paciente" name="i_paciente" ng-model="form.i_paciente" />

						<!-- Nome input-->
						<div class="form-group" ng-class="{ 'has-error' : pacienteForm.nome.$invalid && !pacienteForm.nome.$pristine }">
							<label class="col-sm-1 control-label" for="nome">Nome</label>
							<div class="col-sm-11">
								<input ng-model="form.nome" id="nome" required name="nome" type="text" placeholder="Insira seu nome aqui" class="form-control" maxlength="255" autofocus>
								<p ng-show="pacienteForm.nome.$error.required && !pacienteForm.nome.$pristine" class="help-block">Nome é obrigatório.</p>
							</div>
						</div>
						
						<!-- CPF input-->
						<div class="form-group" ng-class="{ 'has-error' : pacienteForm.cpf.$invalid && !pacienteForm.cpf.$pristine }">
							<label class="col-sm-1 control-label" for="cpf">CPF</label>
							<div class="col-sm-2">
								<input ng-model="form.cpf" id="cpf" required name="cpf" type="text" ng-cpf ui-mask="999.999.999-99" class="form-control" maxlength="14" autofocus>
								<p ng-show="pacienteForm.cpf.$error.required && !pacienteForm.cpf.$pristine" class="help-block">CPF é obrigatório.</p>
								<p ng-show="pacienteForm.cpf.$invalid && !pacienteForm.cpf.$pristine" class="help-block">CPF inválido.</p>
							</div>
						</div>
					</fieldset>
				</div>
				<div class="panel-footer">
					<!-- Form actions -->
					<div class="form-group">
						<div class="pull-right">
							<button type="submit" class="btn btn-success" ng-disabled="pacienteForm.$invalid">Ok</button>
							<a ng-click="cancelar(pacienteForm.$dirty)" class="btn btn-warning">Cancelar</a>
							<a ng-click="excluir()" ng-show="editandoCadastro" class="btn btn-danger">Excluir</a>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>