<div ng-controller="PacienteListagemController">
	<div class="container" id="container">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="clearfix">
					<span class="sisape-titulo-panel">Pacientes</span>
					<a class="sisape-link-panel" href="#/pacientes/novo">Novo</a>
				</div>
			</div>
			<div class="panel-body">
				<table class="table table-striped table-hover table-bordered table-responsive">
					<thead>
						<tr>
							<th ng-click="sortBy('i_paciente')" class="text-center sisape-order-list">#
								<span class="sisape-sortorder" ng-show="propertyName === 'i_paciente'" ng-class="{reverse: reverse}"></span>
							</th>
							<th ng-click="sortBy('nome')" class="sisape-order-list">Nome
								<span class="sisape-sortorder" ng-show="propertyName === 'nome'" ng-class="{reverse: reverse}"></span>
							</th>
							<th>CPF</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in itens | orderBy:propertyName:reverse">
							<td ng-bind="item.i_paciente" class="text-center col-md-1 col-sm-1"></td>
							<td ng-bind="item.nome"></td>
							<td ng-bind="item.cpf"></td>
							<td class="text-center col-md-1 col-sm-1">
								<!--<a ng-click="delete(item, $index)" class="btn btn-link btn-xs" rel="tooltip" data-placement="top" title="Visualizar paciente" tooltip>-->
								<a href="#/pacientes/{{item.i_paciente}}/editar" class="btn btn-link btn-xs" rel="tooltip" data-placement="top" title="Visualizar paciente" tooltip>
									<span class="glyphicon glyphicon-search" ></span>
								</a>
							</td>
						</tr>
						<tr id="tableVazia">
							<td class="text-center" colspan="4s" ng-show="listaVazia">Sem dados para mostrar!</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>