<div ng-controller="InicioController">
	<div class="container" id="container">
		<div class="panel panel-default bootcards-summary">
			<div class="panel-body">
				<div class="row">


					<div class="col-xs-6 col-sm-4 col-md-3">
						<a class="bootcards-summary-item" href="#/cidadao" data-pjax="#main" data-title="Cidadão" style="padding-top:35px;">
							<i class="fa fa-3x fa-users"></i>
							<h4>Cidadão
								<!--<span class="label label-info">40</span>-->
							</h4>
						</a>
					</div>

					<div class="col-xs-6 col-sm-4 col-md-3">
						<a class="bootcards-summary-item" href="#/ubs" data-pjax="#main" data-title="Unidade Básica de Saúde" style="padding-top:35px;">
							<i class="fa fa-3x fa-building-o"></i>
							<h4>Unidade Básica de Saúde
								<!--<span class="label label-info">40</span> -->
							</h4>
						</a>
					</div>

					<div class="col-xs-6 col-sm-4 col-md-3">
						<a class="bootcards-summary-item" href="#/agendas" data-pjax="#main" data-title="Agendas" style="padding-top:35px;">
							<i class="fa fa-3x fa-clipboard"></i>
							<h4>Agendas
								<!--<span class="label label-info">47</span>-->
							</h4>
						</a>
					</div>

					<div class="col-xs-6 col-sm-4 col-md-3">
						<a class="bootcards-summary-item" href="#/relatorios" data-pjax="#main" data-title="Relatórios" style="padding-top:35px;">
							<i class="fa fa-3x fa-bar-chart-o"></i>
							<h4>Relatórios
								<!--<span class="label label-info">4</span>-->
							</h4>
						</a>
					</div>

					<div class="col-xs-6 col-sm-4 col-md-3"><!--<div class="col-xs-6 col-sm-4 col-md-3">-->
						<a class="bootcards-summary-item" href="#/cadastros" data-pjax="#main" data-title="Cadastros" style="padding-top:35px;">
							<i class="fa fa-3x fa-files-o"></i>
							<h4>Cadastros
								<!--<span class="label label-info">36</span>-->
							</h4>
						</a>
					</div>


				</div>
			</div>
		</div>
	</div>
</div>