<div ng-controller="InicioController">
	<div class="container-fluid">
		<div class="row">
			
			<div class="col-md-3 col-sm-3 col-xs-6" ng-show="inArray(userLoggedIn.tipoUsuario, ['S', 'G', 'P', 'C'])">
				<a href="#/cidadao" style="text-decoration:none;">
					<div class="dashboard-div-wrapper bk-clr-five">
						<i class="fa fa-user dashboard-div-icon"></i>

						<h5>Cidadão</h5>
					</div>
				</a>
			</div>

			<div class="col-md-3 col-sm-3 col-xs-6" ng-show="inArray(userLoggedIn.tipoUsuario, ['S', 'G', 'P', 'C'])">
				<a href="#/agendamento" style="text-decoration:none;">
					<div class="dashboard-div-wrapper bk-clr-one">
						<i class="fa fa-user-plus dashboard-div-icon"></i>

						<h5>Agendar atendimento</h5>
					</div>
				</a>
			</div>
			

			<div class="col-md-3 col-sm-3 col-xs-6" ng-show="inArray(userLoggedIn.tipoUsuario, ['S', 'G', 'P'])">
				<a href="#/fila" style="text-decoration:none;">
					<div class="dashboard-div-wrapper bk-clr-two">
						<i class="fa fa-users dashboard-div-icon" ></i>
						
						<h5>Fila de atendimentos</h5>
					</div>
				</a>
			</div>

			<div class="col-md-3 col-sm-3 col-xs-6" ng-show="inArray(userLoggedIn.tipoUsuario, ['S', 'G', 'P'])">
				<a href="#/prontuario" style="text-decoration:none;">
					<div class="dashboard-div-wrapper bk-clr-four">
						<i class="fa fa-user-md dashboard-div-icon" ></i>
						
						<h5>Acompanhamento cidadão</h5>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>